<div class="bf-modal-content">
    <div class="bf-modal-header">
        <h1 class="modal-title">{{title}}</h1>
        <div class="icon">
            <button type="button" class="close" ng-click="cancel()" aria-hidden="true">×</button>
        </div>
    </div>
    <div class="bf-modal-body">
        <div class="card-block panelContainer">
            <div class="bf-table-2">
                <table class="table table-striped table-condensed table-font-small text-<%=textColor%>">
                    <thead>
                    <tr style="font-weight: bold">
                        <th>#</th>
                        <th ng-click="sortHistoryList('actionDate')"><a>Date</a></th>
                        <th ng-click="sortHistoryList('userName')" nowrap><a>User</a></th>
                        <th ng-click="sortHistoryList('server')" nowrap><a>Server</a></th>
                        <th ng-click="sortHistoryList('action')"><a>Action</a></th>
                        <th ng-click="sortHistoryList('objectType')"><a>Type</a></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in migrationHistories.data">
                        <td>{{item.ROW_NUMBER}}</td>
                        <td>{{item.actionDate | makeDate | makeLocalDate | date:'MM/dd/yyyy HH:mm'}}</td>
                        <td>{{item.userName}}</td>
                        <td>{{item.server}}</td>
                        <td>
                            <span ng-if="item.action=='I'">Import</span>
                            <span ng-if="item.action=='E'">Export</span>
                            <span ng-if="item.action=='P'">Publish</span>
                        </td>
                        <td>{{item.objectType}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row justify-content-md-center" style="padding-top: 10px;" ng-if="migrationHistories.totalCount > historyListPageSize">
            <ul class="uibPagination" uib-pagination total-items="migrationHistories.totalCount" items-per-page="historyListPageSize" ng-model="$parent.historyListCurrentPage"
                max-size="10" boundary-links="true" rotate="false" ng-change="changeHistoryListPage()"></ul>
        </div>
    </div>
    <div class="bf-modal-footer">
        <button type="button" class="p-button p-component p-button-text-only" ng-click="cancel()"><span class="p-button-text p-c">Close</span></button>
    </div>
</div>