<style>
    .move-resources .list-group-item {
        padding: 0.1rem 0.5rem;
    }

    .move-resources .bg-info {
        padding-bottom: 5px;
        margin-bottom: 5px;
    }
</style>
<div class="bf-modal-content">
    <div class="bf-modal-header">
        <h1 class="modal-title">{{title}}</h1>
        <div class="icon">
            <button type="button" class="close" ng-click="cancel()" aria-hidden="true">×</button>
        </div>
    </div>
    <div class="bf-modal-body move-resources">
        <div class="card-block" style="max-height: {{clientSize.height - 320}}px; overflow: auto">
            <span>Select resources to move to another Workspace</span>
            <div>
                <div>
                    <div class="card bg-info">
                        <div class="card-header card-header-xs border-secondary" data-toggle="collapse" data-target="#i18n_" aria-expanded="false" aria-controls="#i18n_">
                            <table style="width:100%;">
                                <tr>
                                    <td nowrap>
                                        <h5 class="card-title pd5">
                                            I18N
                                        </h5>
                                    </td>
                                    <td width="95%" style="text-align: right;" ng-show="workspace.i18n && workspace.i18n.length > 0">
                                        <button ng-click="checkAll(moveResources.i18n, workspace.i18n);$event.stopPropagation();">Check all</button>
                                        <button ng-click="uncheckAll(moveResources.i18n, workspace.i18n);$event.stopPropagation();">Uncheck all</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div id="i18n_" class="card-block collapse show text-{{textColor}} bg-{{bgColor}}">
                            <ul class="list-group">
                                <li class="list-group-item text-{{textColor}} bg-{{bgColor}}" ng-repeat="item in workspace.i18n">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="i18n_{{item.id}}" ng-click="checkItem(moveResources.i18n, item)" ng-checked="item.checked">
                                        <label class="form-check-label" for="i18n_{{item.id}}">{{item.lang}}</label>
                                    </div>
                                </li>
                                <li ng-show="!workspace.i18n || workspace.i18n.length == 0">
                                    <div class="form-check">
                                        None
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card bg-info">
                        <div class="card-header card-header-xs border-secondary" data-toggle="collapse" data-target="#lookup_" aria-expanded="false" aria-controls="#lookup_">
                            <table style="width:100%;">
                                <tr>
                                    <td nowrap>
                                        <h5 class="card-title pd5">
                                            Lookup Data
                                        </h5>
                                    </td>
                                    <td width="95%" style="text-align: right;" ng-show="workspace.lookupData && workspace.lookupData.length > 0">
                                        <button ng-click="checkAll(moveResources.lookupData, workspace.lookupData);$event.stopPropagation();">Check all</button>
                                        <button ng-click="uncheckAll(moveResources.lookupData, workspace.lookupData);$event.stopPropagation();">Uncheck all</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div id="lookup_" class="card-block collapse show text-{{textColor}} bg-{{bgColor}}">
                            <ul class="list-group">
                                <li class="list-group-item text-{{textColor}} bg-{{bgColor}}" ng-repeat="item in workspace.lookupData">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="lookup_{{item.id}}" ng-click="checkItem(moveResources.lookupData, item)" ng-checked="item.checked">
                                        <label class="form-check-label" for="lookup_{{item.id}}">{{item.type}}</label>
                                    </div>
                                </li>
                                <li ng-show="!workspace.lookupData || workspace.lookupData.length == 0">
                                    <div class="form-check">
                                        None
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card bg-info">
                        <div class="card-header card-header-xs border-secondary" data-toggle="collapse" data-target="#api_" aria-expanded="false" aria-controls="#api_">
                            <table style="width:100%;">
                                <tr>
                                    <td nowrap>
                                        <h5 class="card-title pd5">
                                            API Integration
                                        </h5>
                                    </td>
                                    <td width="95%" style="text-align: right;" ng-show="workspace.rawDataSource && workspace.rawDataSource.length > 0">
                                        <button ng-click="checkAll(moveResources.rawDataSource, workspace.rawDataSource);$event.stopPropagation();">Check all</button>
                                        <button ng-click="uncheckAll(moveResources.rawDataSource, workspace.rawDataSource);$event.stopPropagation();">Uncheck all</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div id="api_" class="card-block collapse show text-{{textColor}} bg-{{bgColor}}">
                            <ul class="list-group">
                                <li class="list-group-item text-{{textColor}} bg-{{bgColor}}" ng-repeat="item in workspace.rawDataSource">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="api_{{item.id}}" ng-click="checkItem(moveResources.rawDataSource, item)" ng-checked="item.checked">
                                        <label class="form-check-label" for="api_{{item.id}}">{{item.type}}</label>
                                    </div>
                                </li>
                                <li ng-show="!workspace.rawDataSource || workspace.rawDataSource.length == 0">
                                    <div class="form-check">
                                        None
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card bg-info">
                        <div class="card-header card-header-xs border-secondary" data-toggle="collapse" data-target="#file_" aria-expanded="false" aria-controls="#file_">
                            <table style="width:100%;">
                                <tr>
                                    <td nowrap>
                                        <h5 class="card-title pd5">
                                            File
                                        </h5>
                                    </td>
                                    <td width="95%" style="text-align: right;" ng-show="workspace.file && workspace.file.length > 0">
                                        <button ng-click="checkAll(moveResources.file, workspace.file);$event.stopPropagation();">Check all</button>
                                        <button ng-click="uncheckAll(moveResources.file, workspace.file);$event.stopPropagation();">Uncheck all</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div id="file_" class="card-block collapse show text-{{textColor}} bg-{{bgColor}}">
                            <ul class="list-group">
                                <li class="list-group-item text-{{textColor}} bg-{{bgColor}}" ng-repeat="item in workspace.file">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="file_{{item.id}}" ng-click="checkItem(moveResources.file, item)" ng-checked="item.checked">
                                        <label class="form-check-label" for="file_{{item.id}}">{{item.title}}</label>
                                    </div>
                                </li>
                                <li ng-show="!workspace.file || workspace.file.length == 0">
                                    <div class="form-check">
                                        None
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card bg-info">
                        <div class="card-header card-header-xs border-secondary" data-toggle="collapse" data-target="#context_" aria-expanded="false" aria-controls="#context_">
                            <table style="width:100%;">
                                <tr>
                                    <td nowrap>
                                        <h5 class="card-title pd5">
                                            Context
                                        </h5>
                                    </td>
                                    <td width="95%" style="text-align: right;" ng-show="workspace.context && workspace.context.length > 0">
                                        <button ng-click="checkAll(moveResources.context, workspace.context);$event.stopPropagation();">Check all</button>
                                        <button ng-click="uncheckAll(moveResources.context, workspace.context);$event.stopPropagation();">Uncheck all</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div id="context_" class="card-block collapse show text-{{textColor}} bg-{{bgColor}}">
                            <ul class="list-group">
                                <li class="list-group-item text-{{textColor}} bg-{{bgColor}}" ng-repeat="item in workspace.context">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="context_{{item.id}}" ng-click="checkItem(moveResources.context, item)" ng-checked="item.checked">
                                        <label class="form-check-label" for="context_{{item.id}}">Context</label>
                                    </div>
                                </li>
                                <li ng-show="!workspace.context || workspace.context.length == 0">
                                    <div class="form-check">
                                        None
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card bg-info">
                        <div class="card-header card-header-xs border-secondary" data-toggle="collapse" data-target="#project_" aria-expanded="false" aria-controls="#project_">
                            <table style="width:100%;">
                                <tr>
                                    <td nowrap>
                                        <h5 class="card-title pd5">
                                            Project
                                        </h5>
                                    </td>
                                    <td width="95%" style="text-align: right;" ng-show="workspace.project && workspace.project.length > 0">
                                        <button ng-click="checkAll(moveResources.project, workspace.project);$event.stopPropagation();">Check all</button>
                                        <button ng-click="uncheckAll(moveResources.project, workspace.project);$event.stopPropagation();">Uncheck all</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div id="project_" class="card-block collapse show text-{{textColor}} bg-{{bgColor}}">
                            <ul class="list-group">
                                <li class="list-group-item text-{{textColor}} bg-{{bgColor}}" ng-repeat="item in workspace.project">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="project_{{item.id}}" ng-click="checkItem(moveResources.project, item)" ng-checked="item.checked">
                                        <label class="form-check-label" for="project_{{item.id}}">{{item.name}}</label>
                                    </div>
                                </li>
                                <li ng-show="!workspace.project || workspace.project.length == 0">
                                    <div class="form-check">
                                        None
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-class="{ 'has-error': 0 == moveResources.to.workspaceId}" style="padding-top: 10px;">
            <label for="workspace">Select Target Workspace</label>
            <div angucomplete-alt
                 id="workspace"
                 placeholder="Enter a Workspace name"
                 pause="100"
                 selected-object="selectWorkspace"
                 selected-object-data="moveResources.to"
                 remote-url="{{contextPath}}/services/data/search/fbs.workspace-GetWorkspace.json?LIKE_name_LIKE="
                 title-field="name"
                 search-field="name"
                 field-required="true"
                 initial-value="moveResources.to.workspaceName"
                 minlength="2"
                 input-class="form-control form-control-small"
                 name="" required>{{ moveResources.to.workspaceName || '' }}
            </div>
            <div ng-if="mode=='Modify' || isParamProjectId() == true">
                <div class="form-control text-dark" style="background-color: #c0c0c0;">
                    {{lookupDataType.workspaceName}}
                </div>
            </div>
        </div>
    </div>
    <div class="bf-modal-footer">
        <button type="button" class="p-button p-component p-button-text-only p-button-secondary" ng-click="cancel()"><span class="p-button-text p-c">Close</span></button>
        <button type="button" class="p-button p-component p-button-text-only" ng-click="move()" ng-disabled="!isReadyData()"><span class="p-button-text p-c">Move</span></button>
    </div>
</div>