<div class="bf-modal-content">
    <div class="bf-modal-header">
        <h1 class="modal-title">{{title}}</h1>
        <div class="icon">
            <button type="button" class="close" ng-click="cancel()" aria-hidden="true">×</button>
        </div>
    </div>
    <div class="bf-modal-body">
        <div class="card-header">
            <div class="row justify-content-md-center">
                <form class="form-inline">
                    <label for="searchTitle" style="padding: 0 5px 0 2px;">Tag</label>
                    <input type="text" class="form-control form-control-sm" id="searchTitle" ng-enter="searchPublication()" ng-model="searchPublicationHistory.LIKE_tag_LIKE">
                    <div style="padding-left: 10px;"></div>
                    <label for="searchName" style="padding: 0 5px 0 2px;">Transaction ID</label>
                    <input type="text" class="form-control form-control-sm" id="searchName" ng-enter="searchPublication()" ng-model="searchPublicationHistory.transactionId">
                    <div style="padding-left: 10px;"></div>
                    <div style="padding-left: 10px;"></div>
                    <button type="button" class="bf-button p-component bf-button-icon-only" title="Search" ng-click="searchPublicationHistory()"><i class="fa fa-search"></i></button>
                    <div style="padding-left: 10px;"></div>
                    <button type="button" class="bf-button p-component bf-button-icon-only" title="Refresh" ng-if="selectedNode" ng-click="refreshPublicationHistoryList();$event.stopPropagation();"><i class="fa fa-repeat"></i></button>
                </form>
            </div>
            <div class="row" style="padding-top: 5px;">
                <div class="col-md-2 text-right" style="padding-right: 0;">
                    <label for="isfi" style="padding: 5px 5px 0 0;">ISFI</label>
                </div>
                <div class="col-md-8" style="padding-left: 0;">
                    <input type="text" class="form-control form-control-sm max-width" id="isfi" ng-enter="searchPublication()" ng-model="searchPublicationHistory.isfi">
                </div>
                <div class="col-md-2">
                </div>
            </div>
        </div>
        <div class="card-block panelContainer" style="overflow-x: hidden;">
            <div ng-if="publicationHistoryList.data.length == 0">
                <div class="text-center m-2">There are no publications</div>
            </div>
            <div class="bf-table-2">
                <form method="POST" target="frame" name="RecoveryProjectForm" id="RecoveryProjectForm" action="../blank.html">
                </form>
                <table class="table table-striped table-condensed table-sm text-<%=textColor%>" ng-if="publicationHistoryList.data.length > 0">
                    <thead>
                    <tr style="font-weight: bold">
                        <th>#</th>
                        <th ng-click="sortPublicationHistoryList('userName')"><a>Publisher</a></th>
                        <th ng-click="sortPublicationHistoryList('actionDate')"><a>Publish Date</a></th>
                        <th ng-click="sortPublicationHistoryList('tag')"><a>Tag</a></th>
                        <th ng-click="sortPublicationHistoryList('version')"><a>Version</a></th>
                        <th ng-click="sortPublicationHistoryList('transactionId')"><a>Transaction ID</a></th>
                        <th ng-click="sortPublicationHistoryList('transactionDate')"><a>Transaction Date</a></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat-start="item in publicationHistoryList.data" id="{{item.id}}" class="publication">
                        <td rowspan="2">{{item.ROW_NUMBER}}</td>
                        <td>{{item.userName}}</td>
                        <td>{{item.actionDate | makeDate | makeLocalDate | date:'MM/dd/yyyy HH:mm'}}</td>
                        <td>{{item.tag}}</td>
                        <td>{{item.version}}</td>
                        <td>{{item.transactionId}}</td>
                        <td>{{item.transactionDate | makeDate | makeLocalDate | date:'MM/dd/yyyy HH:mm'}}</td>
                        <td class="text-nowrap text-right" style="vertical-align: middle;">
                            <button class="p-button p-component p-button-warning p-button-text-only" ng-disabled="'D' !== item.transactionId2Action" ng-click="undeletePublication(item);$event.stopPropagation();">Undelete Publication</button>
                        </td>
                    </tr>
                    <tr ng-repeat-end>
                        <td colspan="7">
                            <div class="overflow-auto" style="height: 100px;">
                                <textarea class="max-width max-height text-<%=textColor%> bg-<%=bgColor%>" style="border: 0;" readonly>{{item.description}}</textarea>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row justify-content-md-center" style="padding-top: 10px;" ng-if="publicationHistoryList.totalCount > publicationHistoryListPageSize">
                <ul class="uibPagination" uib-pagination total-items="publicationHistoryList.totalCount" items-per-page="publicationHistoryListPageSize" ng-model="$parent.publicationHistoryListCurrentPage"
                    max-size="10" boundary-links="true" rotate="false" ng-change="changePublicationHistoryListPage()"></ul>
            </div>
        </div>
    </div>
    <div class="bf-modal-footer">
        <button type="button" class="p-button p-component p-button-text-only" ng-click="cancel()"><span class="p-button-text p-c">Close</span></button>
    </div>
</div>