<div class="bf-modal-content" role="dialog">
    <div class="bf-modal-header">
        <h1 class="modal-title">{{title}}</h1>
        <div class="icon">
            <button type="button" class="close" ng-click="cancel()" aria-hidden="true">×</button>
        </div>
    </div>
    <div class="bf-modal-body">
        <form name="confForm">
            <div class="form-group form-group-sm col-md-12" ng-if="!appName">
                <label for="appName">Application</label> <span class="mandatory">*</span>
                <select class="form-control" id="appName" ng-model="conf.appName">
                    <option></option>
                    <option value="BIO">BIO</option>
                    <option ng-repeat="item in appNames" value="{{item}}">{{item}}</option>
                </select>
            </div>
            <div class="form-group form-group-sm col-md-12">
                <label for="type">Type</label> <span class="mandatory">*</span>
                <input type="text" ng-model="conf.type" ng-change="checkConf('type')" class="form-control" id="type" placeholder="Enter the type of a configuration" required autofocus>
                <span class="alert alert-warning alert-xs" ng-show="conf.invalidType">The type already exists. Please change the type.</span>
            </div>
            <div class="form-group form-group-sm col-md-12">
                <label for="name">Name</label> <span class="mandatory">*</span>
                <input type="text" ng-model="conf.name" ng-change="checkConf('name')" class="form-control" id="name" placeholder="Enter the name of a configuration" required>
                <span class="alert alert-warning alert-xs" ng-show="conf.invalidName">The name already exists. Please change the name.</span>
            </div>
            <div class="form-group form-group-sm col-md-12">
                <label for="description">Description</label> <span class="mandatory">*</span>
                <textarea ng-model="conf.description" class="form-control" id="description" placeholder="Enter the description of a configuration" maxlength="2000" required>
                </textarea>
            </div>
            <div class="form-group form-group-sm col-md-12" ng-class="{ 'has-error': confForm.type.$invalid }">
                <label for="value">Value</label> <span class="mandatory">*</span>
                <input type="text" ng-model="conf.value" class="form-control" id="value" placeholder="Enter the value of a configuration" required>
            </div>
        </form>
    </div>
    <div class="bf-modal-footer">
        <button type="button" class="p-button p-component p-button-secondary p-button-text-only" ng-click="cancel()"><span class="p-button-text p-c">Cancel</span></button>
        <button type="button" class="p-button p-component p-button-text-only" ng-click="ok()" ng-disabled="confForm.$invalid"><span class="p-button-text p-c">{{mode == 'Add' ? 'Add' : 'Update'}}</span></button>
    </div>
</div>