<div class="bf-modal-content">
    <div class="bf-modal-header">
        <h1 class="modal-title">{{title}}</h1>
        <div class="icon">
            <button type="button" class="close" ng-click="cancel()" aria-hidden="true">×</button>
        </div>
    </div>
    <div class="bf-modal-body">
        <div class="panel-body panelContainer no-padding no-margin" style="height:{{modalBodyHeight}}px;">
            <div class="form-group form-group-sm">
                <input type="text" ng-model="treeOptions.filter.name" class="form-control" placeholder="Enter a name to filter" style="margin-bottom: 10px;" autofocus>
            </div>
            <tree nodes='treeRoot' options="treeOptions"></tree>
        </div>
    </div>
    <div class="bf-modal-footer">
        <button type="button" class="p-button p-component p-button-secondary p-button-text-only" ng-click="cancel()"><span class="p-button-text p-c">Cancel</span></button>
        <button type="button" class="p-button p-component p-button-text-only" ng-click="ok()" ng-disabled="lookupDataForm.$invalid"><span class="p-button-text p-c">Select</span></button>
    </div>
</div>
