<div class="history-modal-content" id="historyModal" ng-init="setHeight();" onresize="setHeight();">
    <div class="history-modal-header">
        <h1 class="modal-title">{{title}}</h1>
        <div class="icon">
            <button type="button" class="close" ng-click="cancel()" aria-hidden="true">×</button>
        </div>
    </div>
    <div class="history-modal-body">
        <div class="container-fluid mb-2" id="selectedNode">
            <i class="fa fa-bars" aria-hidden="true"></i>
            <span ng-if="selectedNodeType=='TreeRoot'">&emsp;Lookup Data&emsp;</span>
            <span ng-if="selectedNodeType=='Application'">&emsp;Application&emsp;</span>
            <span ng-if="selectedNodeType=='Workspace'">&emsp;{{selectedNode.name}}&emsp;</span>
            <span ng-if="selectedNodeType=='Project'">
                <span>&emsp;{{selectedNode.parent.name}}&emsp;</span>
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                <span>&emsp;{{selectedNode.name}}&emsp;</span>
            </span>
            <span ng-if="selectedNodeType=='DataType'">
                <span>&emsp;{{selectedNode.parent.name}}&emsp;</span>
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                <span>&emsp;{{selectedNode.type}}&emsp;</span>
            </span>
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
            <span>&emsp;<span style="font-weight: bold; text-decoration: underline;">{{selectedDataValue.label}}</span>&emsp;</span>
        </div>
        <div class="container-fluid">
            <div class="row m-0 history-content" id="historyContainer">
                <div class="col-md-2 p-0" id="leftHistoryList">
                    <ul class="list-group history-listbox-border overflow-auto" style="height: 93%;">
                        <li class="list-group-item history-listbox-radius text-center history-bg"
                            ng-class="{'active': selectedNumLeft==-1}" ng-click="selectHistoryLeft(-1)">
                            Current
                        </li>
                        <li class="list-group-item history-listbox-radius history-bg" ng-repeat="(idx, item) in historiesLeft"
                            ng-class="{'active': idx==selectedNumLeft}" ng-click="selectHistoryLeft(idx, item)">
                            {{item.transactionDate | makeDate | makeLocalDate | date:'MM/dd/yyyy HH:mm:ss'}}<br>{{item.userName}}
                        </li>
                    </ul>
                    <div style="height: 7%;">
                        <button type="button" class="p-button p-component p-button-secondary p-button-text-only w-100 h-100"
                                ng-disabled="historiesLeft.length<10" ng-click="loadMore('L')">
                            <span class="p-button-text p-c">Load 10 More</span>
                            <span class="fa fa-chevron-down text-right"></span>
                        </button>
                    </div>
                </div>
                <div class="col-md-8 p-0 history-listbox-border history-bg" id="history">
                    <div class="row" id="historyContentHeader">
                        <div class="row col-md-6 pr-0">
                            <div class="col-md-7 history-content-header">
                                <span ng-if="selectedNumLeft==-1">Current<span ng-if="isChangedLeft">&nbsp;*</span></span></span>
                                <span ng-if="selectedNumLeft!=-1">{{selectedHistoryLeft.transactionDate | makeDate | makeLocalDate | date:'MM/dd/yyyy HH:mm:ss'}}&nbsp;({{selectedHistoryLeft.userName}})<span ng-if="isChangedLeft">&nbsp;*</span></span>
                            </div>
                            <div class="text-right col-md-5 p-2">
                            </div>
                        </div>
                        <div class="row ml-3 col-md-6 pr-0">
                            <div class="col-md-7 history-content-header">
                                <span ng-if="selectedNumRight==-1">Current<span ng-if="isChangedRight">&nbsp;*</span></span></span>
                                <span ng-if="selectedNumRight!=-1">{{selectedHistoryRight.transactionDate | makeDate | makeLocalDate | date:'MM/dd/yyyy HH:mm:ss'}}&nbsp;({{selectedHistoryRight.userName}})<span ng-if="isChangedRight">&nbsp;*</span></span>
                            </div>
                            <div class="text-right col-md-5 p-2">
                            </div>
                        </div>
                    </div>
                    <div class="bg-white" id="historyContent">
                        <div class="row">
                            <div class="col-md-6">
                                <table class="table table-condensed table-font-small">
                                    <tr ng-class="{ 'alert-warning': isValueDiff('label')}">
                                        <th style="width:35%">Label</th>
                                        <td class="col-md-9">{{selectedHistoryLeft.label}}</td>
                                    </tr>
                                    <tr ng-class="{ 'alert-warning': isValueDiff('i18n')}">
                                        <th>Label for I18N</th>
                                        <td>{{selectedHistoryLeft.i18n}}</td>
                                    </tr>
                                    <tr ng-class="{ 'alert-warning': isValueDiff('value')}">
                                        <th>Value</th>
                                        <td>{{selectedHistoryLeft.value}}</td>
                                    </tr>
                                    <tr ng-class="{ 'alert-warning': isValueDiff('active')}">
                                        <th>Active</th>
                                        <td>{{selectedHistoryLeft.active}}</td>
                                    </tr>
                                    <!--<tr ng-class="{ 'alert-warning': isValueDiff('readonly')}">
                                        <th>Readonly</th>
                                        <td>{{selectedHistoryLeft.readonly}}</td>
                                    </tr>-->
                                    <tr ng-class="{ 'alert-warning': isValueDiff('displayOrder')}">
                                        <th>Display Order</th>
                                        <td>{{selectedHistoryLeft.displayOrder}}</td>
                                    </tr>
                                    <tr ng-class="{ 'alert-warning': isValueDiff('effectiveDate')}">
                                        <th>Effective Date</th>
                                        <td>{{selectedHistoryLeft.effectiveDate}}</td>
                                    </tr>
                                    <tr ng-class="{ 'alert-warning': isValueDiff('expirationDate')}">
                                        <th>Expiration Date</th>
                                        <td>{{selectedHistoryLeft.expirationDate}}</td>
                                    </tr>
                                    <tr ng-class="{ 'alert-warning': isValueDiff('subType')}">
                                        <th>Sub Type</th>
                                        <td>{{selectedHistoryLeft.subType}}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <table class="table table-condensed table-font-small">
                                    <tr ng-class="{ 'alert-warning': isValueDiff('label')}">
                                        <th style="width:35%">Label</th>
                                        <td>{{selectedHistoryRight.label}}</td>
                                    </tr>
                                    <tr ng-class="{ 'alert-warning': isValueDiff('i18n')}">
                                        <th>Label for I18N</th>
                                        <td>{{selectedHistoryRight.i18n}}</td>
                                    </tr>
                                    <tr ng-class="{ 'alert-warning': isValueDiff('value')}">
                                        <th>Value</th>
                                        <td>{{selectedHistoryRight.value}}</td>
                                    </tr>
                                    <tr ng-class="{ 'alert-warning': isValueDiff('active')}">
                                        <th>Active</th>
                                        <td>{{selectedHistoryRight.active}}</td>
                                    </tr>
                                    <!--<tr ng-class="{ 'alert-warning': isValueDiff('readonly')}">
                                            <th>Readonly</th>
                                            <td>{{selectedHistoryRight.readonly}}</td>
                                    </tr>-->
                                    <tr ng-class="{ 'alert-warning': isValueDiff('displayOrder')}">
                                        <th>Display Order</th>
                                        <td>{{selectedHistoryRight.displayOrder}}</td>
                                    </tr>
                                    <tr ng-class="{ 'alert-warning': isValueDiff('effectiveDate')}">
                                        <th>Effective Date</th>
                                        <td>{{selectedHistoryRight.effectiveDate}}</td>
                                    </tr>
                                    <tr ng-class="{ 'alert-warning': isValueDiff('expirationDate')}">
                                        <th>Expiration Date</th>
                                        <td>{{selectedHistoryRight.expirationDate}}</td>
                                    </tr>
                                    <tr ng-class="{ 'alert-warning': isValueDiff('subType')}">
                                        <th>Sub Type</th>
                                        <td>{{selectedHistoryRight.subType}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 p-0">
                    <ul class="list-group history-listbox-border overflow-auto" style="height: 93%;">
                        <li class="list-group-item history-listbox-radius text-center history-bg"
                            ng-class="{'active': selectedNumRight==-1}" ng-click="selectHistoryRight(-1)">
                            Current
                        </li>
                        <li class="list-group-item history-listbox-radius history-bg" ng-repeat="(idx, item) in historiesRight"
                            ng-class="{'active': idx==selectedNumRight}" ng-click="selectHistoryRight(idx, item)">
                            {{item.transactionDate | makeDate | makeLocalDate | date:'MM/dd/yyyy HH:mm:ss'}}<br>{{item.userName}}
                        </li>
                    </ul>
                    <div style="height: 7%;">
                        <button type="button" class="p-button p-component p-button-secondary p-button-text-only w-100 h-100"
                                ng-disabled="historiesRight.length<10" ng-click="loadMore('R')">
                            <span class="p-button-text p-c">Load 10 More</span>
                            <span class="fa fa-chevron-down"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="history-modal-footer">
        <button type="button" class="p-button p-component p-button-text-only" ng-click="cancel()"><span class="p-button-text p-c">Close</span></button>
    </div>
</div>
