<div class="bf-modal-content" id="lookupModal">
    <div class="bf-modal-header">
        <h1 class="modal-title">{{title}}</h1>
        <div class="icon">
            <button type="button" class="close" ng-click="cancel()" aria-hidden="true">×</button>
        </div>
    </div>
    <div class="bf-modal-body" id="lookupModalBody">
        <form name="lookupDataForm" class="form-group form-group-sm">
            <div class="form-group form-group-sm col-md-12" ng-class="{ 'has-error': lookupDataForm.label.$invalid }">
                <label for="label">Label</label>
                <input type="text" ng-model="lookupDataValue.label" class="form-control" name="label" id="label" placeholder="Label" required autofocus>
            </div>
            <div class="form-group col-md-12 i18n-wrapper">
                <label for="labelForI18N">Label for I18N</label>
                <div class="input-group input-group-sm" ng-click="selectI18N(lookupDataValue);">
                    <input type="text" ng-model="lookupDataValue.i18n" class="form-control" name="labelForI18N" id="labelForI18N" readonly>
                    <i class="fa fa-times i18n-clear-icon" ng-class="{ 'clear-icon-show': lookupDataValue.i18n && lookupDataValue.i18n != '', 'clear-icon-hide': !lookupDataValue.i18n || lookupDataValue.i18n == ''}"
                       ng-click="resetI18N();$event.stopPropagation();"></i>
                    <span class="input-group-btn">
                        <button type="button" class="p-button p-component p-button-text-only" ng-click="selectI18N(lookupDataValue);$event.stopPropagation();">Select I18N</button>
                    </span>
                </div>
            </div>
            <div class="form-group form-group-sm col-md-12" ng-class="{ 'has-error': lookupDataForm.value.$invalid }">
                <label for="value">Value</label>
                <input type="text" ng-model="lookupDataValue.value" class="form-control" name="value" id="value" placeholder="Value" required>
            </div>
            <div class="form-group form-group-sm col-md-12" ng-class="{ 'has-error': lookupDataForm.displayOrder.$invalid }">
                <label for="displayOrder">Display Order</label>
                <input type="text" ng-model="lookupDataValue.displayOrder" class="form-control" name="displayOrder" id="displayOrder" placeholder="Display Order">
            </div>
            <div class="form-group form-group-sm col-md-12" ng-class="{ 'has-error': lookupDataForm.active.$invalid}">
                <label for="active">Active</label>
                <select name="active" id="active" ng-model="lookupDataValue.active" class="form-control" required>
                    <option value="{{Yes}}">Active</option>
                    <option value="{{No}}">Inactive</option>
                </select>
            </div>
            <!--<div class="form-group form-group-sm col-md-12" ng-class="{ 'has-error': lookupDataForm.readonly.$invalid}">
                <label for="readonly">Readonly</label>
                <select name="readonly" id="readonly" ng-model="lookupDataValue.readonly" class="form-control" required>
                    <option value="{{Yes}}">Yes</option>
                    <option value="{{No}}">No</option>
                </select>
            </div>-->
            <div class="form-group form-group-sm col-md-12" ng-class="{ 'has-error': lookupDataForm.effectiveDate.$invalid }">
                <label for="effectiveDate">Effective Date</label>
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" name="effectiveDate" id="effectiveDate"
                           uib-datepicker-popup="MM/dd/yyyy"
                           ui-mask="19/39/2999" model-view-value="true"
                           placeholder="MM/dd/yyyy"
                           ng-model="lookupDataValue.effectiveDate"
                           is-open="lookupDataValue.effectiveDateOpen"
                           close-text="Close">
                    <span class="input-group-btn">
					<button type="button" class="bf-button p-component bf-button-icon-only" style="border-radius: 0" ng-click="lookupDataValue.effectiveDateOpen = !lookupDataValue.effectiveDateOpen">
					     <i class="fa fa-calendar-o" aria-hidden="true"></i>
					</button>
					</span>
                </div>
            </div>
            <div class="form-group form-group-sm col-md-12" ng-class="{ 'has-error': lookupDataForm.expirationDate.$invalid }">
                <label for="expirationDate">Expiration Date</label>
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" name="expirationDate" id="expirationDate"
                           uib-datepicker-popup="MM/dd/yyyy"
                           ui-mask="19/39/2999" model-view-value="true"
                           placeholder="MM/dd/yyyy"
                           ng-model="lookupDataValue.expirationDate"
                           is-open="lookupDataValue.expirationDateOpen"
                           close-text="Close">
                    <span class="input-group-btn">
					<button type="button" class="bf-button p-component bf-button-icon-only" style="border-radius: 0" ng-click="lookupDataValue.expirationDateOpen = !lookupDataValue.expirationDateOpen">
					     <i class="fa fa-calendar-o" aria-hidden="true"></i>
					</button>
					</span>
                </div>
            </div>
            <div class="form-group col-md-12 subtype-wrapper">
                <label for="subType">Sub Type</label>
                <div class="input-group input-group-sm" ng-click="selectSubType(lookupDataValue);">
                    <input type="text" ng-model="lookupDataValue.subType" class="form-control" name="subType" id="subType" readonly>
                    <i class="fa fa-times subtype-clear-icon" ng-class="{ 'clear-icon-show': lookupDataValue.subType && lookupDataValue.subType != '', 'clear-icon-hide': !lookupDataValue.subType || lookupDataValue.subType == ''}"
                       ng-click="resetSubType();$event.stopPropagation();"></i>
                    <span class="input-group-btn">
                        <button type="button" class="p-button p-component p-button-text-only" ng-click="selectSubType(lookupDataValue);$event.stopPropagation();">Select Sub Type</button>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <div class="bf-modal-footer">
        <button type="button" class="p-button p-component p-button-secondary p-button-text-only" ng-click="cancel()"><span class="p-button-text p-c">Cancel</span></button>
        <button type="button" class="p-button p-component p-button-text-only" ng-click="ok()" ng-disabled="lookupDataForm.$invalid"><span class="p-button-text p-c">{{mode == 'Add' ? 'Add' : 'Update'}}</span></button>
    </div>
</div>
