<div class="card text-{{scope.textColor}} bg-{{scope.bgColor}} border-secondary" role="dialog">
    <div class="card-header border-secondary"><h3 class="card-title">{{title}}</h3></div>
    <div class="card-body">
        <form name="confForm">
            <div class="form-group form-group-sm col-md-12">
                <label for="name">Name</label> <span class="mandatory">*</span>
                <input type="text" ng-model="server.name" class="form-control form-control-sm" id="name" placeholder="Enter the name of a server" required>
            </div>
            <div class="row no-margin">
                <div class="form-group form-group-sm col-md-6">
                    <label for="ipAddress">IP Address</label> <span class="mandatory">*</span>
                    <input type="text" ng-model="server.ipAddress" class="form-control form-control-sm" id="ipAddress" placeholder="Enter the IP Address of a server" required>
                </div>
                <div class="form-group form-group-sm col-md-6">
                    <label for="state">State</label> <span class="mandatory">*</span>
                    <select id="state" name="state" ng-model="server.state" class="form-control form-control-sm" placeholder="Select the state of a server">
                        <option value=""></option>
                        <option ng-repeat="state in states" value="{{state}}">{{getStateDesc(state)}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group form-group-sm col-md-12">
                <label for="url">URl</label> <span class="mandatory">*</span> <i> (For example: http://www.myserver.com/bizflowappdev)</i>
                <input type="text" ng-model="server.url" class="form-control form-control-sm" id="url" placeholder="Enter the url of a server" required>
            </div>
            <div class="form-group form-group-sm col-md-12">
                <label for="description">Description</label> <span class="mandatory">*</span>
                <textarea ng-model="server.description" class="form-control form-control-sm" id="description" placeholder="Enter the description of a server" maxlength="2000" required>
                </textarea>
            </div>
        </form>
    </div>
    <div class="card-footer border-secondary">
        <div class="col-md-12 text-right">
            <button class="btn btn-primary btn-sm" ng-click="ok()" ng-disabled="confForm.$invalid">{{mode == 'Add' ? 'Add' : 'Update'}}</button>
            <button class="btn btn-secondary btn-sm" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</div>
