<div class="bf-modal-content" role="dialog">
    <div class="bf-modal-header">
        <h1 class="modal-title">{{title || 'API List'}}</h1>
        <div class="icon">
            <button type="button" class="close" ng-click="cancel()" aria-hidden="true">×</button>
        </div>
    </div>
    <div class="bf-modal-body">
        <div class="panel-body panelContainer no-padding no-margin">
            <div class="form-group form-group-sm">
                <input type="text" ng-model="searchName" class="form-control" placeholder="Enter a type to search" ng-enter="search();" style="margin-bottom: 10px;" autofocus>
            </div>
            <div id="DataValue" ng-if="rawDataSourceList">
                <div ng-if="rawDataSourceList.data.length == 0">
                    <div class="text-center">No Available Raw Data Sources</div>
                </div>
                <div class="bf-table-2" ng-if="rawDataSourceList.data.length > 0">
                    <form>
                        <table class="table table-striped table-condensed text-{{textColor}}">
                            <thead>
                            <tr style="font-weight: bold">
                                <th>#</th>
                                <th ng-click="sortRawDataList('type')"><a>Type</a></th>
                                <th ng-click="sortRawDataList('district')"><a>Level</a></th>
                                <th ng-click="sortRawDataList('url')"><a>URL</a></th>
                                <th class="text-center">Selected?</th>
                                <th class="text-center text-nowrap">Run When</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in rawDataSourceList.data" title="ID={{adjustItem(item).id}}" class="list">
                                <td>{{item.ROW_NUMBER}}</td>
                                <td>{{item.type}}</td>
                                <td>{{item.district}}</td>
                                <td>{{item.url}}</td>
                                <td class="text-nowrap text-center">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" id="{{item.id}}" name="selectedRawDataSource" ng-click="selectedRawDataSource(item)" ng-checked="item.id == formPublication.rawDataSrcId">
                                        <label class="custom-control-label" for="{{item.id}}"></label>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <select name="runWhen" ng-model="item.runWhen" ng-change="selectedRawDataSource(item)">
                                        <option value="C">Form Is Completed</option>
                                        <option value="S">Form Is Saved</option>
                                    </select>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                <div class="row justify-content-md-center" style="padding-top: 10px;" ng-if="rawDataSourceList.totalCount > rawDataSourceListPageSize">
                    <ul class="uibPagination" uib-pagination total-items="rawDataSourceList.totalCount" items-per-page="rawDataSourceListPageSize"
                        ng-model="$parent.$parent.rawDataSourceListCurrentPage" max-size="10" boundary-links="true" rotate="false" ng-change="changeDataSourceListPage()"></ul>
                </div>
            </div>
        </div>
    </div>
    <div class="bf-modal-footer">
        <button type="button" class="p-button p-component p-button-secondary p-button-text-only" ng-click="cancel()"><span class="p-button-text p-c">Cancel</span></button>
        <button type="button" class="p-button p-component p-button-text-only" ng-click="ok()" ng-disabled="lookupDataForm.$invalid || !isValidSelected()"><span class="p-button-text p-c">Apply</span></button>
    </div>
</div>
