<div class="bf-modal-content" role="dialog">
    <div class="bf-modal-header">
        <h1 class="modal-title">{{formPublication.name}} Data Structure</h1>
        <div class="icon">
            <button type="button" class="close" ng-click="ok()" aria-hidden="true">×</button>
        </div>
    </div>
    <div class="bf-modal-body">
        <div class="panel-body panelContainer no-padding no-margin" style="overflow: hidden;">
            <div class="row" ng-show="formDataStructure" style="overflow: hidden;">
                <div class="col">
                    <label>JSON Format</label>
                    <div ng-jsoneditor="setJsonEditorInstance" ng-model="jsonEditor.data" options="jsonEditor.options" class="max-width" id="jsonEditor" style="height: {{viewHeight}}px;"></div>
                </div>
                <div class="col">
                    <label>XML Format</label>
                    <div id="Editor" style="height: {{viewHeight}}px;overflow: auto;padding: 5px;border:thin solid #3883fa;" class="bg-white text-dark">
                        <pre id="textarea"></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bf-modal-footer">
        <button type="button" class="p-button p-component p-button-text-only" ng-click="ok()" ng-disabled="lookupDataForm.$invalid"><span class="p-button-text p-c">Ok</span></button>
    </div>
</div>