<div class="bf-modal-content" role="dialog">
    <div class="bf-modal-header">
        <h1 class="modal-title">{{formPublication.name}} Options</h1>
        <div class="icon">
            <button type="button" class="close" ng-click="ok()" aria-hidden="true">×</button>
        </div>
    </div>
    <div class="bf-modal-body">
        <div class="panel-body panelContainer no-padding no-margin" style="overflow: hidden;">
            <div class="bf-table-2">
                <form>
                    <table class="table table-striped table-condensed text-{{textColor}}">
                        <thead>
                        <tr style="font-weight: bold">
                            <th>Action Type</th>
                            <th class="text-center text-nowrap">Run When</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in allFormOptions" class="list">
                            <td>{{item.label}}</td>
                            <td class="text-center">
                                <select name="runWhen" ng-model="item.runWhen">
                                    <option value="C">Form Is Completed</option>
                                    <option value="S">Form Is Saved</option>
                                </select>
                            </td>
                            <td>
                                <button class="btn btn-xs2 btn-primary" ng-click="saveOption(item);$event.stopPropagation();" ng-disabled="item.originalRunWhen==item.runWhen">Save</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
    <div class="bf-modal-footer">
        <button type="button" class="p-button p-component p-button-text-only" ng-click="ok()">Close</button>
    </div>
</div>
