.log {
    margin-bottom: 0 !important;
    padding: 0 1px 0 1px !important;
    border: 1px solid #505050;

    white-space: pre-wrap;      /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -pre-wrap;     /* Opera <7 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    word-wrap: break-word;      /* IE */
}
