<div class="card text-{{scope.textColor}} bg-{{scope.bgColor}} border-secondary bf-add-access bf-access-modal-content" role="dialog">
    <div class="card-header border-secondary">
        <h3 class="card-title">
            <span ng-if="mode=='Add' || mode=='Edit'">{{mode}}&nbsp;Access Permission</span>
            <span ng-if="mode=='Test'">User Access Test</span>

        </h3>
    </div>
    <div class="card-body">
        <div ng-class="{'bf-access-modal-body-add-edit': checkPermission || mode=='Edit'}">
            <div ng-if="mode=='Add'">
                <h5 class="card-title">API</h5>
                <p>Select the value according to the access type you want, then check the permission. The access type can vary from service to full url.</p>
                <div class="row">
                    <div class="form-group col-md-2">
                        <label class="mr-2" for="serName">Service</label>
                        <select class="form-control form-control-sm max-width"  id="serName" ng-init="popup.serviceName=model.service" ng-model="popup.serviceName" ng-change="changeService()">
                            <option></option>
                            <option ng-repeat="item in services" ng-value="item">{{item}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label class="mr-2" for="seName">Session</label>
                        <select class="form-control form-control-sm max-width"  id="seName" ng-init="popup.sessionName=model.session" ng-model="popup.sessionName" ng-change="changeSession()">
                            <option></option>
                            <option ng-repeat="item in sessions" ng-value="item">{{item}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label class="mr-2" for="tyName">Namespace</label>
                        <select class="form-control form-control-sm max-width"  id="tyName" ng-init="popup.namespace=model.namespace" ng-model="popup.namespace" ng-change="changeNamespace()">
                            <option></option>
                            <option ng-repeat="item in namespaces" ng-value="item">{{item}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="mr-2" for="apName">URL</label>
                        <select class="form-control form-control-sm max-width" id="apName" ng-init="popup.query=model.query" ng-model="popup.query" ng-change="selectApi()">
                            <option></option>
                            <option ng-repeat="item in apis" ng-value="item.name">{{item.actualUrl||item.url}}</option>
                        </select>
                    </div>
                </div>
                <label class="mr-2" for="apiPattern1">API Pattern</label><input id="apiPattern1" type="text" class="bf-form-control-ap bf-w100" ng-init="popup.url=model.url" ng-model="popup.url" readonly>
            </div>
            <div ng-if="mode=='Edit' || mode=='Test'">
                <h4 class="card-title">API</h4>
                <div class="bf-summary-{{scope.bgColor}}">
                    <h6>{{editModel.url}}</h6><br>
                    <span class="dot mr-5">pattern: services/{service}/{session}.{namespace}-{queryId}</span><span class="dot">'*' means all</span>
                </div>
            </div>
            <div ng-if="checkPermission || mode=='Edit'">
                <h5 class="card-title mt-4">Permission</h5>
                <div class="mt-2 mb-2">
                    <input id="radioAllow" type="radio" name="radioAllow" ng-model="permissionType" value="A" ng-click="detectPermissionChange('A')"><label for="radioAllow">&nbsp;Allow List</label>&emsp;
                    <input id="radioDeny" type="radio" name="radioDeny" ng-model="permissionType" value="D" ng-click="detectPermissionChange('D')"><label for="radioDeny">&nbsp;Deny List</label>
                </div>
                <div class="row bf-mb-3">
                    <!-- User -->
                    <div class="col-md-4">
                        <label for="user"><h6>User</h6></label>
                        <div angucomplete-alt
                             id="user"
                             placeholder="Enter a user name"
                             pause="100"
                             selected-object="selectUser"
                             remote-url="{{contextPath}}/services/org/user/search/appdev.json?LIKE_name_LIKE="
                             title-field="name"
                             search-field="name"
                             field-required="true"
                             initial-value=""
                             minlength="2"
                             input-class="form-control form-control-small"
                             name="" required>
                        </div>
                        <div class="p-listbox-list-wrapper border-secondary" style="padding-top: 20px;">
                            <ul class="p-listbox-list">
                                <li class="p-listbox-item ng-scope" ng-repeat="(idx, item) in newMembers | filter:{memberType: 'U'} | orderBy:'+':true">
                                    <div class="p-clearfix position-relative">
                                        <div class="bf-noBr ng-binding">{{item.memberName}}</div>
                                        <div class="position-absolute bf-text-theme" style="top: 0; right: 0;">
                                            <i class="bf-icon-circle-x" ng-click="deletePermission(idx, item, permissionType, 'New')"></i>
                                            <span class="d-none">
                                                <i class="bf-division-line" style="height: 1rem;"></i><i class="p-button p-button-secondary pi pi-times"></i>
                                            </span>
                                        </div>
                                    </div>
                                </li>
                                <li class="p-listbox-item ng-scope" ng-repeat="(idx, item) in permissions | filter:{memberType: 'U'} | orderBy: memberName">
                                    <div class="p-clearfix position-relative">
                                        <div class="bf-noBr ng-binding">{{item.memberName}}</div>
                                        <div class="position-absolute bf-text-theme" style="top: 0; right: 0;">
                                            <i class="bf-icon-circle-x" ng-click="deletePermission(idx, item, permissionType, 'Existing')"></i>
                                            <span class="d-none">
                                                <i class="bf-division-line" style="height: 1rem;"></i><i class="p-button p-button-secondary pi pi-times"></i>
                                            </span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--// User -->
                    <!-- Department -->
                    <div class="col-md-4">
                        <label for="dept"><h6>Department</h6></label>
                        <div angucomplete-alt
                             id="dept"
                             placeholder="Enter a department name"
                             pause="100"
                             selected-object="selectDept"
                             remote-url="{{contextPath}}/services/org/department/search.json?LIKE_name_LIKE="
                             title-field="name"
                             search-field="name"
                             field-required="true"
                             initial-value=""
                             minlength="2"
                             input-class="form-control form-control-small"
                             name="" required>
                        </div>
                        <div class="p-listbox-list-wrapper border-secondary" style="padding-top: 20px;">
                            <ul class="p-listbox-list">
                                <li class="p-listbox-item ng-scope" ng-repeat="(idx, item) in newMembers | filter:{memberType: 'D'} | orderBy:'+':true">
                                    <div class="p-clearfix position-relative">
                                        <div class="bf-noBr ng-binding">{{item.memberName}}</div>
                                        <div class="position-absolute bf-text-theme" style="top: 0; right: 0;">
                                            <i class="bf-icon-circle-x" ng-click="deletePermission(idx, item, permissionType, 'New')"></i>
                                            <span class="d-none">
                                                <i class="bf-division-line" style="height: 1rem;"></i><i class="p-button p-button-secondary pi pi-times"></i>
                                            </span>
                                        </div>
                                    </div>
                                </li>
                                <li class="p-listbox-item ng-scope" ng-repeat="(idx, item) in permissions | filter:{memberType: 'D'} | orderBy: memberName">
                                    <div class="p-clearfix position-relative">
                                        <div class="bf-noBr ng-binding">{{item.memberName}}</div>
                                        <div class="position-absolute bf-text-theme" style="top: 0; right: 0;">
                                            <i class="bf-icon-circle-x" ng-click="deletePermission(idx, item, permissionType, 'Existing')"></i>
                                            <span class="d-none">
                                                <i class="bf-division-line" style="height: 1rem;"></i><i class="p-button p-button-secondary pi pi-times"></i>
                                            </span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--// Department -->
                    <!-- User Group -->
                    <div class="col-md-4">
                        <label for="userGroup"><h6>User Group</h6></label>
                        <div angucomplete-alt
                             id="userGroup"
                             placeholder="Enter a user group name"
                             pause="100"
                             selected-object="selectUserGroup"
                             remote-url="{{contextPath}}/services/org/group/search.json?LIKE_name_LIKE="
                             title-field="name"
                             search-field="name"
                             field-required="true"
                             initial-value=""
                             minlength="2"
                             input-class="form-control form-control-small"
                             name="" required>
                        </div>
                        <div class="p-listbox-list-wrapper border-secondary" style="padding-top: 20px;">
                            <ul class="p-listbox-list">
                                <li class="p-listbox-item ng-scope" ng-repeat="(idx, item) in newMembers | filter:{memberType: 'G'} | orderBy:'+':true">
                                    <div class="p-clearfix position-relative">
                                        <div class="bf-noBr ng-binding">{{item.memberName}}</div>
                                        <div class="position-absolute bf-text-theme" style="top: 0; right: 0;">
                                            <i class="bf-icon-circle-x" ng-click="deletePermission(idx, item, permissionType, 'New')"></i>
                                            <span class="d-none">
                                                <i class="bf-division-line" style="height: 1rem;"></i><i class="p-button p-button-secondary pi pi-times"></i>
                                            </span>
                                        </div>
                                    </div>
                                </li>
                                <li class="p-listbox-item ng-scope" ng-repeat="(idx, item) in permissions | filter:{memberType: 'G'} | orderBy: memberName">
                                    <div class="p-clearfix position-relative">
                                        <div class="bf-noBr ng-binding">{{item.memberName}}</div>
                                        <div class="position-absolute bf-text-theme" style="top: 0; right: 0;">
                                            <i class="bf-icon-circle-x" ng-click="deletePermission(idx, item, permissionType, 'Existing')"></i>
                                            <span class="d-none">
                                                <i class="bf-division-line" style="height: 1rem;"></i><i class="p-button p-button-secondary pi pi-times"></i>
                                            </span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--// User Group -->
                </div>
            </div>
        </div>
        <div ng-if="mode=='Test'">
            <h5 class="card-title">Permission</h5>
            <div ng-class="{'bf-access-modal-body-test' : mode=='Test'}">
                <div class="bf-summary-{{scope.bgColor}}">
                    <p class="text-success font-15" ng-if="permissionType=='A'"><b>[Allow List]</b></p>
                    <p class="text-danger font-15" ng-if="permissionType=='D'"><b>[Deny List]</b></p>
                    <div class="row">
                        <!-- User -->
                        <div class="col-md-4" ng-if="(permissions|filter:{memberType: 'U'}).length>0">
                            <label><b>User</b></label>
                            <div class="p-listbox-list-wrapper border-secondary" >
                                <ul class="p-listbox-list">
                                    <li class="p-listbox-item ng-scope" ng-repeat="item in permissions | filter:{memberType: 'U'} | orderBy: memberName">
                                        <div class="p-clearfix position-relative">
                                            <div class="bf-noBr ng-binding">{{item.memberName}}</div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--// User -->
                        <!-- Department -->
                        <div class="col-md-4" ng-if="(permissions|filter:{memberType: 'D'}).length>0">
                            <label><b>Department</b></label>
                            <div class="p-listbox-list-wrapper border-secondary">
                                <ul class="p-listbox-list">
                                    <li class="p-listbox-item ng-scope" ng-repeat="item in permissions | filter:{memberType: 'D'} | orderBy: memberName">
                                        <div class="p-clearfix position-relative">
                                            <div class="bf-noBr ng-binding">{{item.memberName}}</div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--// Department -->
                        <!-- User Group -->
                        <div class="col-md-4" ng-if="(permissions|filter:{memberType: 'G'}).length>0">
                            <label><b>User Group</b></label>
                            <div class="p-listbox-list-wrapper border-secondary">
                                <ul class="p-listbox-list">
                                    <li class="p-listbox-item ng-scope" ng-repeat="item in permissions | filter:{memberType: 'G'} | orderBy: memberName">
                                        <div class="p-clearfix position-relative">
                                            <div class="bf-noBr ng-binding">{{item.memberName}}</div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--// User Group -->
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="mode=='Test'">
            <h5 class="card-title mt-3">Test</h5>
            <div class="bf-summary-{{scope.bgColor}}">
                <p>Pick a user type first, then choose one user to test.</p>
                <div class="row">
                    <div class="form-group col-md-2">
                        <label for="searchTestUser">User Type</label>
                        <select class="form-control form-control-sm" id="searchTestUser" ng-model="testUserType" ng-change="clearBar()">
                            <option></option>
                            <option ng-repeat="item in users" ng-value="item">{{item}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <div ng-if="testUserType!='department' && testUserType!='group'">
                            <label for="user2">Name</label>
                            <div angucomplete-alt
                                 id="user2"
                                 placeholder="Enter a name"
                                 pause="100"
                                 selected-object="selectUser"
                                 remote-url="{{contextPath}}/services/org/user/search/appdev.json?LIKE_name_LIKE="
                                 title-field="name"
                                 search-field="name"
                                 field-required="true"
                                 initial-value=""
                                 minlength="2"
                                 input-class="form-control form-control-sm"
                                 name="" required>
                            </div>
                        </div>
                        <div ng-if="testUserType!=null && testUserType!='user'">
                            <label for="{{testUserType}}">Name</label>
                            <div angucomplete-alt
                                 id="{{testUserType}}"
                                 placeholder="Enter a name"
                                 pause="100"
                                 selected-object="selectUser"
                                 remote-url="{{contextPath}}/services/org/{{testUserType}}/search.json?LIKE_name_LIKE="
                                 title-field="name"
                                 search-field="name"
                                 field-required="true"
                                 initial-value=""
                                 minlength="2"
                                 input-class="form-control form-control-sm"
                                 name="" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer border-secondary">
        <div class="col-md-12 text-right">
            <span ng-if="(mode=='Add' && checkPermission) || mode=='Edit'">
                <button class="btn btn-primary btn-sm mr-2" ng-click="ok()" ng-disabled="check()">{{mode == 'Add' ? 'Add' : 'Update'}}</button>
            </span>
            <span ng-if="mode=='Test'">
                <button class="btn btn-success btn-sm mr-2" ng-click="test()">Test</button>
            </span>
            <span ng-if="!checkPermission && accessType!='url'">
                <button ng-if="mode=='Add'" type="button" class="btn btn-sm btn-success mr-2" ng-click="searchPermission();$event.stopPropagation();"
                        ng-disabled="popup.serviceName==='' || popup.serviceName==null">Check Permission</button>
            </span>
            <button class="btn btn-secondary btn-sm" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</div>