<div class="history-modal-content" id="historyModal" ng-init="setHeight();" onresize="setHeight();">
    <div class="history-modal-header">
        <h1 class="modal-title">{{title}}</h1>
        <div class="icon">
            <button type="button" class="close" ng-click="cancel()" aria-hidden="true">×</button>
        </div>
    </div>
    <div class="history-modal-body">
        <div class="container-fluid mb-2" id="selectedNode">
            <i class="fa fa-bars" aria-hidden="true"></i>
            <span ng-if="selectedNodeType=='Workspace'">&emsp;{{selectedNode.name}}&emsp;</span>
            <span ng-if="selectedNodeType=='Project'">
                <span>&emsp;{{selectedNode.parent.name}}&emsp;</span>
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                <span>&emsp;{{selectedNode.name}}&emsp;</span>
            </span>
        </div>
        <div class="container-fluid">
            <div class="row m-0 history-content" id="historyContainer">
                <div class="col-md-2 p-0" id="leftHistoryList">
                    <ul class="list-group history-listbox-border overflow-auto" style="height: 93%;">
                        <li class="list-group-item history-listbox-radius text-center history-bg"
                            ng-class="{'active': selectedNumLeft==-1}" ng-click="selectHistoryLeft(-1)">
                            Current
                        </li>
                        <li class="list-group-item history-listbox-radius history-bg" ng-repeat="(idx, item) in contextHistoriesLeft"
                            ng-class="{'active': idx==selectedNumLeft}" ng-click="selectHistoryLeft(idx, item)">
                            {{item.transactionDate | makeDate | makeLocalDate | date:'MM/dd/yyyy HH:mm:ss'}}<br>{{item.userName}}
                        </li>
                    </ul>
                    <div style="height: 7%;">
                        <button type="button" class="p-button p-component p-button-secondary p-button-text-only w-100 h-100"
                                ng-disabled="contextHistoriesLeft.length<10" ng-click="loadMore('L')">
                            <span class="p-button-text p-c">Load 10 More</span>
                            <span class="fa fa-chevron-down text-right"></span>
                        </button>
                    </div>
                </div>
                <div class="col-md-8 p-0 history-listbox-border history-bg" id="history">
                    <div class="row" id="historyContentHeader">
                        <div class="row col-md-6 pr-0">
                            <div class="col-md-7 history-content-header">
                                <span ng-if="selectedNumLeft==-1">Current<span ng-if="isChangedLeft">&nbsp;*</span></span></span>
                                <span ng-if="selectedNumLeft!=-1">{{selectedHistoryLeft.transactionDate | makeDate | makeLocalDate | date:'MM/dd/yyyy HH:mm:ss'}}&nbsp;({{selectedHistoryLeft.userName}})<span ng-if="isChangedLeft">&nbsp;*</span></span>
                            </div>
                            <div class="text-right col-md-5 p-2">
                                <div ng-if="!isChangedLeft && !isChangedRight && selectedNumLeft!=-1">
                                    <button class="p-button p-component p-button-secondary p-button-text-icon-left" ng-click="revert('L')" style="font-size: 12px;">
                                        <span class="fa fa-history p-c p-button-icon-left"></span>
                                        <span class="p-button-text p-c">Revert</span>
                                    </button>
                                </div>
                                <div ng-if="isChangedLeft">
                                    <button class="p-button p-component p-button-secondary p-button-text-icon-left" ng-click="save('L')" style="font-size: 12px;">
                                        <span class="fa fa-save p-c p-button-icon-left"></span>
                                        <span class="p-button-text p-c">Save</span>
                                    </button>
                                    <button class="p-button p-component p-button-secondary p-button-text-icon-left" ng-click="reset('L')" style="font-size: 12px;">
                                        <span class="fa fa-history p-c p-button-icon-left"></span>
                                        <span class="p-button-text p-c">Reset</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row ml-3 col-md-6 pr-0">
                            <div class="col-md-7 history-content-header">
                                <span ng-if="selectedNumRight==-1">Current<span ng-if="isChangedRight">&nbsp;*</span></span></span>
                                <span ng-if="selectedNumRight!=-1">{{selectedHistoryRight.transactionDate | makeDate | makeLocalDate | date:'MM/dd/yyyy HH:mm:ss'}}&nbsp;({{selectedHistoryRight.userName}})<span ng-if="isChangedRight">&nbsp;*</span></span>
                            </div>
                            <div class="text-right col-md-5 p-2">
                                <div ng-if="!isChangedRight && !isChangedLeft && selectedNumRight!=-1">
                                    <button class="p-button p-component p-button-secondary p-button-text-icon-left" ng-click="revert('R')" style="font-size: 12px;">
                                        <span class="fa fa-history p-c p-button-icon-left"></span>
                                        <span class="p-button-text p-c">Revert</span>
                                    </button>
                                </div>
                                <div ng-if="isChangedRight">
                                    <button class="p-button p-component p-button-secondary p-button-text-icon-left" ng-click="save('R')" style="font-size: 12px;">
                                        <span class="fa fa-save p-c p-button-icon-left"></span>
                                        <span class="p-button-text p-c">Save</span>
                                    </button>
                                    <button class="p-button p-component p-button-secondary p-button-text-icon-left" ng-click="reset('R')" style="font-size: 12px;">
                                        <span class="fa fa-history p-c p-button-icon-left"></span>
                                        <span class="p-button-text p-c">Reset</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bg-white" id="historyContent">
                        <div id="view"></div>
                    </div>
                </div>
                <div class="col-md-2 p-0" id="rightHistoryList">
                    <ul class="list-group history-listbox-border overflow-auto" style="height: 93%;">
                        <li class="list-group-item history-listbox-radius text-center history-bg"
                            ng-class="{'active': selectedNumRight==-1}" ng-click="selectHistoryRight(-1)">
                            Current
                        </li>
                        <li class="list-group-item history-listbox-radius history-bg" ng-repeat="(idx, item) in contextHistoriesRight"
                            ng-class="{'active': idx==selectedNumRight}" ng-click="selectHistoryRight(idx, item)">
                            {{item.transactionDate | makeDate | makeLocalDate | date:'MM/dd/yyyy HH:mm:ss'}}<br>{{item.userName}}
                        </li>
                    </ul>
                    <div style="height: 7%;">
                        <button type="button" class="p-button p-component p-button-secondary p-button-text-only w-100 h-100"
                                ng-disabled="contextHistoriesRight.length<10" ng-click="loadMore('R')">
                            <span class="p-button-text p-c">Load 10 More</span>
                            <span class="fa fa-chevron-down"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="history-modal-footer">
        <button type="button" class="p-button p-component p-button-text-only" ng-click="cancel()"><span class="p-button-text p-c">Close</span></button>
    </div>
</div>
