<div class="bf-modal-content" role="dialog" id="serviceResultCallbackScope">
    <div class="bf-modal-header">
        <h1 class="modal-title">{{config.title || title }}</h1>
        <div class="icon">
            <button type="button" class="close" ng-click="cancel()" aria-hidden="true">×</button>
        </div>
    </div>
    <div class="bf-modal-body">
        <div>
            <form method="post" enctype="multipart/form-data" target="hiddenFrame1" accept-charset="UTF-8">
                <input type="hidden" name="id" value="{{item.id}}">
                <div class="row mb-1">
                    <div class="col-md-8">
                        <label class="control-label">Name</label>
                        <div>
                            <p class="form-control-static">{{item.name}}</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Size</label>
                        <div>
                            <p class="form-control-static">{{item.fileSize | makeMBSize:2}} MB</p>
                        </div>
                    </div>
                </div>
                <div class="row mb-3" ng-if="item && item.type !== 'APPLICATION'">
                    <div class="col-md-12" ng-if="!hideLocation">
                        <label for="location">Location:</label> <span class="mandatory">*</span><i ng-if="baseLocation">&nbsp;(Base Location: {{baseLocation}})</i><br>
                        <ui-select id="location" ng-model="item.location" title="Choose a location" theme="select2" class="max-width">
                            <ui-select-match placeholder="Select a location to be deployed in the list or search location...">{{$select.selected}}</ui-select-match>
                            <ui-select-choices repeat="item in locations | filter: $select.search">
                                <div ng-bind-html="item | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                        <input type="hidden" name="location">
                    </div>
                    <div class="col-md-12" ng-if="hideLocation && baseLocation">
                        <label>Location:</label><i ng-if="baseLocation">&nbsp;{{baseLocation}}</i>
                        <input type="hidden" name="location">
                    </div>
                </div>
                <div class="row mb-3" ng-if="item && item.type === 'APPLICATION'">
                    <div class="col-md-12">
                        <label class="control-label">Application Name</label> <span class="mandatory">*</span>
                        <input type="text" name="appName" class="form-control form-control-sm" ng-model="item.appName" maxlength="50" required ng-change="adjustAppName(item)">
                        <small><i>Any blank, - or . characters are not allowed because application name is used in the URL of your application.</i></small>
                        <input type="hidden" name="location">
                    </div>
                </div>
                <div class="row mb-3" ng-if="item && item.type === 'APPLICATION'">
                    <div class="col-md-12">
                        <label for="url">Application URL:</label>
                        <div id="url" class="form-control text-dark" style="background-color: #c0c0c0;">
                            {{baseUrl}}/apps/{{item.appName}}
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-12">
                        <label for="description">Description:</label><br>
                        <textarea id="description" name="description" ng-model="item.description" class="form-control form-control-sm" maxlength="2000" style="height: 120px;"></textarea></td>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-2">
                        <label for="type">Type</label> <span class="mandatory">*</span>
                        <select id="type" name="type" ng-model="item.type" class="form-control form-control-sm" placeholder="Select type" ng-required="config.typeRequired" ng-change="typeChanged(item);">
                            <option value=""></option>
                            <option ng-repeat="distType in distTypes" value="{{distType}}">{{distType}}</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="auto">Auto Distribution</label> <span class="mandatory">*</span>
                        <select id="auto" name="auto" ng-model="item.auto" class="form-control form-control-sm" placeholder="Select auto distribution">
                            <option ng-repeat="distAuto in distAutos" value="{{distAuto}}">{{distAuto === 'Y' ? 'Yes' : 'No'}}</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="distMethod">Method:</label><br>
                        <select id="distMethod" name="method" ng-model="item.method" class="form-control form-control-sm" placeholder="Select distribution method">
                            <option value=""></option>
                            <option ng-repeat="item in distMethods" value="{{item}}">{{item}}</option>
                        </select>
                    </div>
                    <div class="col-md-1">
                        <label for="priority">Priority:</label><br>
                        <input type="number" id="priority" name="priority" class="form-control form-control-sm" ng-model="item.priority">
                    </div>
                    <div ng-class="{'col-md-3': item.type !== 'APPLICATION', 'col-md-5': item.type === 'APPLICATION'}">
                        <label for="label">Label:</label><br>
                        <input type="text" id="label" name="label" class="form-control form-control-sm" ng-model="item.label" maxlength="100">
                    </div>
                    <div class="col-md-2" ng-if="item && item.type !== 'APPLICATION'">
                        <div ng-if="!appName">
                            <label for="appName">Application:</label> <span class="mandatory">*</span><br>
                            <select id="appName" name="appName" class="form-control form-control-sm" ng-model="item.appName">
                                <option></option>
                                <option value="BIO">BIO</option>
                                <option ng-repeat="item in appNames" value="{{item}}">{{item}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="file1">File</label>
                        <div class="input-group max-width">
                            <input type="file" name="file" id="file1" style="width: 100%" class="btn btn-primary"/>
                            <small>Please select a file only when you want to change the file</small>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="bf-modal-footer">
        <button type="button" class="p-button p-component p-button-secondary p-button-text-only" ng-click="cancel()"><span class="p-button-text p-c">Cancel</span></button>
        <button type="button" class="p-button p-component p-button-text-only" ng-click="upload()" ng-disabled="!isReadyToUpload() || uploading">
            <span class="p-button-text p-c">Upload</span>
        </button>
    </div>
</div>
