<div class="bf-modal-content" role="dialog" id="serviceResultCallbackScope">
    <div class="bf-modal-header">
        <h1 class="modal-title">{{config.title || title }}</h1>
        <div class="icon">
            <button type="button" class="close" ng-click="cancel()" aria-hidden="true">×</button>
        </div>
    </div>
    <div class="bf-modal-body" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
        <div class="row">
            <div class="col-md-12" ng-show="uploader.isHTML5">
                <div class="well my-drop-zone max-width display-table" style="height: 150px;border: 2px dashed #c0c0c0;" nv-file-over="" uploader="uploader">
                    <div class="text-center text-middle">
                        <h4>Please drop files here</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                Or click to select file
                <div class="btn btn-primary btn-file">
                    <input ng-show="config.multiple == true" type="file" nv-file-select="" uploader="uploader" multiple/>
                    <input ng-show="config.multiple == false" type="file" nv-file-select="" uploader="uploader" class="collapse"/>
                </div>
            </div>
        </div>
        <div class="row" ng-style="{'overflow':'auto', 'max-height': (config.maxListHeight || 500) + 'px'}">
            <table class="table table-striped table-condensed text-{{scope.textColor}} bg-{{scope.bgColor}} no-margin">
                <tr ng-repeat-start="item in uploader.queue">
                    <td width="30%" rowspan="4"><strong>{{ item.file.name }}</strong></td>
                    <td class="no-padding no-margin" style="border: 0">
                        <table cellpadding="0" cellspacing="0" class="max-width">
                            <tr>
                                <td>
                                    <label for="type">Type</label> <span class="mandatory">*</span><br>
                                    <select id="type" ng-model="item.type" class="form-control form-control-sm" placeholder="Select type" ng-required="config.typeRequired" ng-change="typeChanged(item);">
                                        <option value=""></option>
                                        <option ng-repeat="distType in distTypes" value="{{distType}}">{{distType}}</option>
                                    </select>
                                </td>
                                <td ng-show="uploader.isHTML5" nowrap>Size:<br>{{item.file.size|makeMBSize:3 }} MB</td>
                                <td ng-show="uploader.isHTML5">
                                    Progress:<br>
                                    <div class="progress" style="height: 29px">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <td width="10">
                                    <br>
                                    <button type="button" class="btn btn-danger btn-sm" ng-click="removeDistribution(item);" tooltip="Remove">
                                        <span class="fa fa-trash"></span>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr ng-if="item.type !== 'APPLICATION'">
                    <td ng-if="!hideLocation">
                        <label for="location">Location:</label> <span class="mandatory">*</span><i ng-if="baseLocation">&nbsp;(Base Location: {{baseLocation}})</i><br>
                        <ui-select id="location" ng-model="item.location" title="Choose a location" theme="select2" class="max-width">
                            <ui-select-match placeholder="Select a location to be deployed in the list or search location...">{{$select.selected}}</ui-select-match>
                            <ui-select-choices repeat="item in locations | filter: $select.search : searchStartsWith">
                                <div ng-bind-html="item | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </td>
                    <td ng-if="hideLocation && baseLocation">
                        <label>Location:</label><i ng-if="baseLocation">&nbsp;{{baseLocation}}</i>
                    </td>
                </tr>
                <tr ng-if="item && item.type === 'APPLICATION'">
                    <td colspan="2">
                        <label class="control-label">Application Name</label> <span class="mandatory">*</span>
                        <input type="text" name="appName" class="form-control form-control-sm" ng-model="item.appName" maxlength="50" required ng-change="adjustAppName(item)">
                        <small><i>Any blank, - or . characters are not allowed because application name is used in the URL of your application.</i></small>
                        <br>
                        <label for="url">Application URL:</label>
                        <div id="url" class="form-control text-dark" style="background-color: #c0c0c0;">
                            {{baseUrl}}/apps/{{item.appName}}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label for="description">Description:</label><br>
                        <textarea id="description" ng-model="item.description" class="form-control form-control-sm" maxlength="2000" style="height: 80px;"></textarea>
                    </td>
                </tr>
                <tr>
                    <td class="no-padding no-margin" style="border: 0">
                        <table cellpadding="0" cellspacing="0" class="max-width">
                            <tr>
                                <td nowrap>
                                    <label for="auto">Auto Distribution:</label> <span class="mandatory">*</span><br>
                                    <select id="auto" name="auto" ng-model="item.auto" class="form-control form-control-sm" placeholder="Select auto distribution">
                                        <option ng-repeat="distAuto in distAutos" value="{{distAuto}}">{{distAuto === 'Y' ? 'Yes' : 'No'}}</option>
                                    </select>
                                </td>
                                <td nowrap>
                                    <label for="distMethod">Method:</label><br>
                                    <select id="distMethod" ng-model="item.distMethod" class="form-control form-control-sm" placeholder="Select distribution method">
                                        <option value=""></option>
                                        <option ng-repeat="item in distMethods" value="{{item}}">{{item}}</option>
                                    </select>
                                </td>
                                <td nowrap style="max-width: 120px;">
                                    <label for="priority">Priority:</label><br>
                                    <input type="number" id="priority" class="form-control form-control-sm" ng-model="item.priority">
                                </td>
                                <td nowrap>
                                    <label for="label">Label:</label><br>
                                    <input type="text" id="label" class="form-control form-control-sm" ng-model="item.label" maxlength="100">
                                </td>
                                <td nowrap>
                                    <div ng-if="!appName && item.type !== 'APPLICATION'">
                                        <label for="appName">Application:</label> <span class="mandatory">*</span><br>
                                        <select id="appName" class="form-control form-control-sm" ng-model="item.appName">
                                            <option></option>
                                            <option value="BIO">BIO</option>
                                            <option ng-repeat="item in appNames" value="{{item}}">{{item}}</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr ng-repeat-end ng-show="item.error.msg" class="alert-warning">
                    <td colspan="2" style="padding: 2px;">{{item.error.msg}}</td>
                </tr>
                <tr ng-hide="uploader.queue.length > 0">
                    <td colspan="2" class="text-center"><h6>No files</h6></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="bf-modal-footer">
        <button type="button" class="p-button p-component p-button-secondary p-button-text-only" ng-click="cancel()"><span class="p-button-text p-c">Cancel</span></button>
        <button type="button" class="p-button p-component p-button-text-only" ng-click="upload()" ng-disabled="!isReadyToUpload()">
            <span class="p-button-text p-c">Upload</span>
        </button>
    </div>
</div>
