<div class="bf-modal-content" role="dialog" id="FileEntityList">
    <div class="bf-modal-header">
        <h1 class="modal-title">{{config.title || title }}</h1>
        <div class="icon">
            <button type="button" class="close" ng-click="cancel()" aria-hidden="true">×</button>
        </div>
    </div>
    <div class="bf-modal-body entity-scroll">
        <div class="bf-table-2" style="height: 500px;">
            <table class="table table-striped table-condensed text-{{textColor}} no-margin">
                <thead>
                <tr style="font-weight: bold">
                    <th>#</th>
                    <th ng-click="sortDataValueList('name')">Name</th>
                    <th ng-click="sortDataValueList('size')" nowrap>Size (KB)</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in entityList" class="file">
                    <td>{{$index + 1}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.size|makeKBSize:2}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="bf-modal-footer">
        <button type="button" class="p-button p-component p-button-text-only" ng-click="cancel()"><span class="p-button-text p-c">Cancel</span></button>
    </div>
</div>