@font-face {
  font-family: 'font-bizflow';
  src: url('./font/font-bizflow.eot?67184689');
  src: url('./font/font-bizflow.eot?67184689#iefix') format('embedded-opentype'),
       url('./font/font-bizflow.woff2?67184689') format('woff2'),
       url('./font/font-bizflow.woff?67184689') format('woff'),
       url('./font/font-bizflow.ttf?67184689') format('truetype'),
       url('./font/font-bizflow.svg?67184689#font-bizflow') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'function';
    src: url('../font/function.svg?67184689#function') format('svg');
  }
}
*/
 
 [class^="bf-icon-"]:before, [class*=" bf-icon-"]:before {
  font-family: "font-bizflow";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.bf-icon-eye:before { content: '\e800'!important; } /* '' */
.bf-icon-a:before { content: '\e801'!important; } /* '' */
.bf-icon-internal-link-alt:before { content: '\e802'!important; } /* '' */
.bf-icon-function:before { content: '\e803'!important; } /* '' */
.bf-icon-description:before { content: '\e804'!important; } /* '' */
.bf-icon-global-option:before { content: '\e805'!important; } /* '' */
.bf-icon-validation:before { content: '\e806'!important; } /* '' */
.bf-icon-schema:before { content: '\e807'!important; } /* '' */
.bf-icon-state:before { content: '\e808'!important; } /* '' */
.bf-icon-m:before { content: '\e809'!important; } /* '' */
.bf-icon-r:before { content: '\e80b'!important; } /* '' */
.bf-icon-validation-invalid:before { content: '\e80c'; } /* '' */
.bf-icon-circle-a:before { content: '\e80d'; } /* '' */
.bf-icon-circle-d:before { content: '\e80e'; } /* '' */
.bf-icon-circle-f:before { content: '\e81c'; } /* '' */
.bf-icon-circle-r:before { content: '\e80f'; } /* '' */
.bf-icon-circle-p:before { content: '\e810'; } /* '' */
.bf-icon-circle-t:before { content: '\e811'; } /* '' */
.bf-icon-circle-w:before { content: '\e812'; } /* '' */

.bf-icon-circle-l:before { content: '\e816'; } /* '' */
.bf-icon-circle-i:before { content: '\e817'; } /* '' */
.bf-icon-circle-m:before { content: '\e818'; } /* '' */
.bf-icon-circle-n:before { content: '\e81a'; } /* '' */
.bf-icon-circle-c:before { content: '\e81e'; } /* '' */
.bf-icon-circle-v:before { content: '\e81f'; } /* '' */
.bf-icon-circle-e:before { content: '\e820'; } /* '' */

.bf-icon-arrow-down:before { content: '\e813'; } /* '' */
.bf-icon-validation-warning:before { content: '\e814'; } /* '' */
.bf-icon-exclamation:before { content: '\e815'; } /* '' */
.bf-icon-line:before { content: '\e819'; } /* '' */

.bf-icon-validation-new:before { content: '\e81d'; } /* '' */
.bf-icon-validation-clear:before { content: '\e821'; } /* '' */

.bf-icon-redo-undo:before { content: '\e81b'; } /* '' */

