<div class="card text-{{scope.textColor}} bg-{{scope.bgColor}} border-secondary" role="dialog">
    <div class="card-header border-secondary"><h3 class="card-title">{{title || 'Create Tenant Group'}}</h3></div>
    <div class="card-body">
        <form name="dataForm">
            <div class="form-group form-group-sm col-md-12">
                <label for="name">Name</label> <span class="mandatory">*</span>
                <input type="text" ng-model="data.name" class="form-control" name="name" id="name" placeholder="Enter the name of a tenant" required autofocus>
            </div>
            <div class="form-group form-group-sm col-md-12">
                <label for="description">Description</label>
                <textarea ng-model="data.description" class="form-control" name="description" id="description" placeholder="Enter description" maxlength="2000">
                </textarea>
            </div>
            <div class="form-group form-group-sm col-md-12">
                <label for="dbType">DB Type</label> <span class="mandatory">*</span>
                <select ng-model="data.dbType" class="form-control" name="dbType" id="dbType" required>
                    <option value="oracle">Oracle</option>
                    <option value="mssql">MS Sql Server</option>
                </select>
            </div>
            <div class="form-group form-group-sm col-md-12">
                <label for="host">Host</label> <span class="mandatory">*</span>
                <input type="text" ng-model="data.host" class="form-control" name="host" id="host" placeholder="Enter the host name or IP Address" required>
            </div>
            <div class="form-group form-group-sm col-md-12">
                <label for="port">Port Number</label> <span class="mandatory">*</span>
                <input type="text" ng-model="data.port" class="form-control" name="port" id="port" placeholder="Enter the port number" required>
            </div>
            <div class="form-group form-group-sm col-md-12">
                <label for="username">Username</label> <span class="mandatory">*</span>
                <input type="text" ng-model="data.username" class="form-control" name="username" id="username" placeholder="Enter the username" required>
            </div>
            <div class="form-group form-group-sm col-md-12">
                <label for="password">password</label> <span class="mandatory" ng-if="mode===createMode">*</span>
                <span ng-if="mode !== createMode" class="text-italic text-secondary"> (Enter new password only if you change the password)</span>
                <input type="password" ng-model="data.password" class="form-control" name="password" id="password" ng-required="mode===createMode">
            </div>
            <div class="form-group form-group-sm col-md-12">
                <label for="sourceType">Data Source Type</label> <span class="mandatory">*</span>
                <select ng-model="data.sourceType" class="form-control" name="sourceType" id="sourceType" placeholder="Select Data Source Type" required>
                    <option></option>
                    <option value="JNDI">JNDI</option>
                    <option value="JDBC">JDBC</option>
                    <option value="POOLED">POOLED</option>
                </select>
            </div>
            <div class="form-group form-group-sm col-md-12" ng-if="data.dbType ==='oracle' && data.sourceType !== 'JNDI'">
                <label for="sid">SID</label> <span class="mandatory">*</span>
                <input type="text" ng-model="data.sid" class="form-control" name="sid" id="sid" placeholder="Enter the SID" required>
            </div>
            <div class="form-group form-group-sm col-md-12">
                <label for="url"><span ng-if="data.sourceType==='JNDI'">JNDI</span><span ng-if="data.sourceType!=='JNDI'">JDBC</span> URL</label> <span ng-if="data.sourceType=='JNDI'" class="mandatory">*</span>
                <input type="text" ng-model="data.url" class="form-control" name="url" id="url" placeholder="Enter the JDBC or JNDI URL" ng-required="data.sourceType=='JNDI'">
            </div>
            <div class="form-group form-group-sm col-md-12">
                <label for="driver">JDBC Driver</label>
                <input type="text" ng-model="data.driver" class="form-control" name="driver" id="driver" placeholder="Enter the JDBC Driver Class">
            </div>
        </form>
    </div>
    <div class="card-footer border-secondary">
        <div class="row">
            <div class="col">
                <span class="mandatory">*</span> are mandatory fields.
            </div>
            <div class="col text-right">
                <button class="btn btn-primary btn-sm" ng-click="ok()" ng-disabled="dataForm.$invalid">{{mode == 'Register' ? 'Create' : 'Update'}}</button>
                <button class="btn btn-secondary btn-sm" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </div>
</div>
