<div class="card text-{{scope.textColor}} bg-{{scope.bgColor}} border-secondary" role="dialog">
    <div class="card-header border-secondary"><h3 class="card-title">{{title || 'Create Tenant Group'}}</h3></div>
    <div class="card-body">
        <form name="dataForm">
            <div class="form-group form-group-sm col-md-12">
                <label for="name">Name</label> <span class="mandatory">*</span>
                <input type="text" ng-model="data.name" class="form-control" name="name" id="name" placeholder="Enter the name of a tenant" required autofocus>
            </div>
            <div class="form-group form-group-sm col-md-12">
                <label for="description">Description</label>
                <textarea ng-model="data.description" class="form-control" name="description" id="description" placeholder="Enter description" maxlength="2000">
                </textarea>
            </div>
            <div class="form-group form-group-sm col-md-12">
                <label for="host">Host</label> <span class="mandatory">*</span>
                <input type="text" ng-model="data.host" class="form-control" name="host" id="host" placeholder="Enter the host name or IP Address" required>
            </div>
            <div class="form-group form-group-sm col-md-12">
                <label for="port">Port Number</label> <span class="mandatory">*</span>
                <input type="text" ng-model="data.port" class="form-control" name="port" id="port" placeholder="Enter the port number" required>
            </div>
        </form>
    </div>
    <div class="card-footer border-secondary">
        <div class="row">
            <div class="col">
                <span class="mandatory">*</span> are mandatory fields.
            </div>
            <div class="col text-right">
                <button class="btn btn-primary btn-sm" ng-click="ok()" ng-disabled="dataForm.$invalid">{{mode == 'Register' ? 'Create' : 'Update'}}</button>
                <button class="btn btn-secondary btn-sm" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </div>
</div>
