<div class="card text-{{scope.textColor}} bg-{{scope.bgColor}} border-secondary" role="dialog">
    <div class="card-header border-secondary"><h3 class="card-title">{{title || 'Create Tenant Group'}}</h3></div>
    <div class="card-body">
        <form name="tenantForm">
            <div class="form-group form-group-sm col-md-12">
                <label for="name">Name</label> <span class="mandatory">*</span>
                <input type="text" ng-model="tenantGroup.name" ng-change="checkGroupName();" class="form-control" name="type" id="name" placeholder="Enter a group name" required autofocus>
                <div class="alert alert-danger alert-sm" role="alert" ng-if="error.name && tenantGroup.name">
                    {{error.name}}
                </div>
            </div>
            <div class="form-group form-group-sm col-md-12">
                <label for="description">Description</label>
                <textarea ng-model="tenantGroup.description" class="form-control" name="description" id="description" placeholder="Enter description" maxlength="2000">
                </textarea>
            </div>
        </form>
    </div>
    <div class="card-footer border-secondary">
        <div class="row">
            <div class="col">
                <span class="mandatory">*</span> are mandatory fields.
            </div>
            <div class="col text-right">
                <button class="btn btn-primary btn-sm" ng-click="ok()" ng-disabled="tenantForm.$invalid">{{mode == 'Create' ? 'Create' : 'Update'}}</button>
                <button class="btn btn-secondary btn-sm" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </div>
</div>
