.bioTool {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

div.jsoneditor-field,
div.jsoneditor-value,
div.jsoneditor td,
div.jsoneditor th,
div.jsoneditor textarea,
.jsoneditor-schema-error {
    font-family: unset;
}

div.jsoneditor-tree table {
    background-color: white;
}

div.space {
    padding-left: 5px;
    padding-right: 5px;
}

div.panelContainer {
    overflow: auto;
}

.font-10 {
    font-size: 10px;
}

.font-12 {
    font-size: 12px;
}

.background-white {
    background-color: white;
}