<div class="history-modal-content" id="historyModal" ng-init="setHeight();" onresize="setHeight();">
    <div class="history-modal-header">
        <h1 class="modal-title">{{title}}</h1>
        <div class="icon">
            <button type="button" class="close" ng-click="cancel()" aria-hidden="true">×</button>
        </div>
    </div>
    <div class="history-modal-body">
        <div class="container-fluid">
            <div class="row m-0 history-content" id="historyContainer">
                <div class="col-md-2 p-0" id="leftHistoryList">
                    <ul class="list-group history-listbox-border overflow-auto" style="height: 93%;">
                        <li class="list-group-item history-listbox-radius text-center history-bg"
                            ng-class="{'active': selectedNumLeft==-1}" ng-click="selectHistoryLeft(-1)">
                            Current
                        </li>
                        <li class="list-group-item history-listbox-radius history-bg" ng-repeat="(idx, item) in confHistoriesLeft"
                            ng-class="{'active': idx==selectedNumLeft}" ng-click="selectHistoryLeft(idx, item)">
                            {{item.transactionDate | makeDate | makeLocalDate | date:'MM/dd/yyyy HH:mm:ss'}}<br>{{item.userName}}
                        </li>
                    </ul>
                    <div style="height: 7%;">
                        <button type="button" class="p-button p-component p-button-secondary p-button-text-only w-100 h-100"
                                ng-disabled="confHistoriesLeft.length<10" ng-click="loadMore('L')">
                            <span class="p-button-text p-c">Load 10 More</span>
                            <span class="fa fa-chevron-down text-right"></span>
                        </button>
                    </div>
                </div>
                <div class="col-md-8 p-0 history-listbox-border history-bg" id="history">
                    <div class="row" id="historyContentHeader">
                        <div class="row col-md-6 pr-0">
                            <div class="col-md-7 history-content-header">
                                <span ng-if="selectedNumLeft==-1">Current</span></span>
                                <span ng-if="selectedNumLeft!=-1">{{selectedHistoryLeft.transactionDate | makeDate | makeLocalDate | date:'MM/dd/yyyy HH:mm:ss'}}&nbsp;({{selectedHistoryLeft.userName}})<span ng-if="isChangedLeft">&nbsp;*</span></span>
                            </div>
                            <div class="text-right col-md-5 p-2">
                                <div ng-if="selectedNumLeft!=-1">
                                    <button class="p-button p-component p-button-secondary p-button-text-icon-left" ng-click="revert('L')" style="font-size: 12px;">
                                        <span class="fa fa-history p-c p-button-icon-left"></span>
                                        <span class="p-button-text p-c">Revert</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row ml-3 col-md-6 pr-0">
                            <div class="col-md-7 history-content-header">
                                <span ng-if="selectedNumRight==-1">Current</span></span>
                                <span ng-if="selectedNumRight!=-1">{{selectedHistoryRight.transactionDate | makeDate | makeLocalDate | date:'MM/dd/yyyy HH:mm:ss'}}&nbsp;({{selectedHistoryRight.userName}})<span ng-if="isChangedRight">&nbsp;*</span></span>
                            </div>
                            <div class="text-right col-md-5 p-2">
                                <div ng-if="selectedNumRight!=-1">
                                    <button class="p-button p-component p-button-secondary p-button-text-icon-left" ng-click="revert('R')" style="font-size: 12px;">
                                        <span class="fa fa-history p-c p-button-icon-left"></span>
                                        <span class="p-button-text p-c">Revert</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content bg-white" id="historyContent" style="overflow-x: hidden;">
                        <div class="row">
                            <div class="col-md-6">
                                <table class="table table-condensed table-font-small">
                                    <tr ng-class="{'alert-warning': isValueDiff('type')}">
                                        <th>Type</th>
                                        <td>{{selectedHistoryLeft.type}}</td>
                                    </tr>
                                    <tr ng-class="{'alert-warning': isValueDiff('name')}">
                                        <th>Name</th>
                                        <td>{{selectedHistoryLeft.name}}</td>
                                    </tr>
                                    <tr ng-class="{'alert-warning': isValueDiff('value')}">
                                        <th>Value</th>
                                        <td>{{selectedHistoryLeft.value}}</td>
                                    </tr>
                                    <tr ng-class="{'alert-warning': isValueDiff('description')}">
                                        <th>Description</th>
                                        <td>{{selectedHistoryLeft.description}}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <table class="table table-condensed table-font-small">
                                    <tr ng-class="{'alert-warning': isValueDiff('type')}">
                                        <th>Type</th>
                                        <td>{{selectedHistoryRight.type}}</td>
                                    </tr>
                                    <tr ng-class="{'alert-warning': isValueDiff('name')}">
                                        <th>Name</th>
                                        <td>{{selectedHistoryRight.name}}</td>
                                    </tr>
                                    <tr ng-class="{'alert-warning': isValueDiff('value')}">
                                        <th>Value</th>
                                        <td>{{selectedHistoryRight.value}}</td>
                                    </tr>
                                    <tr ng-class="{'alert-warning': isValueDiff('description')}">
                                        <th>Description</th>
                                        <td>{{selectedHistoryRight.description}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 p-0" id="rightHistoryList">
                    <ul class="list-group history-listbox-border overflow-auto" style="height: 93%;">
                        <li class="list-group-item history-listbox-radius text-center history-bg"
                            ng-class="{'active': selectedNumRight==-1}" ng-click="selectHistoryRight(-1)">
                            Current
                        </li>
                        <li class="list-group-item history-listbox-radius history-bg" ng-repeat="(idx, item) in confHistoriesRight"
                            ng-class="{'active': idx==selectedNumRight}" ng-click="selectHistoryRight(idx, item)">
                            {{item.transactionDate | makeDate | makeLocalDate | date:'MM/dd/yyyy HH:mm:ss'}}<br>{{item.userName}}
                        </li>
                    </ul>
                    <div style="height: 7%;">
                        <button type="button" class="p-button p-component p-button-secondary p-button-text-only w-100 h-100"
                                ng-disabled="confHistoriesRight.length<10" ng-click="loadMore('R')">
                            <span class="p-button-text p-c">Load 10 More</span>
                            <span class="fa fa-chevron-down"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="history-modal-footer">
        <button type="button" class="p-button p-component p-button-text-only" ng-click="cancel()"><span class="p-button-text p-c">Close</span></button>
    </div>
</div>
