<div class="card text-{{scope.textColor}} bg-{{scope.bgColor}} border-secondary" role="dialog" id="serviceResultCallbackScope">
    <div class="card-header border-secondary" style="padding-bottom: 0">
        <h4 class="card-title">{{config.title || title }}</h4>
    </div>
    <div class="card-body align-center" id="application-upload">
        <div>
            <form method="post" enctype="multipart/form-data" target="hiddenFrame1" accept-charset="UTF-8" name="fileForm">
                <input type="hidden" name="type" value="{{item.type}}">
                <input type="hidden" name="auto" value="{{item.auto}}">
                <input type="hidden" name="method" value="{{item.method}}">
                <input type="hidden" name="location" value="{{item.location}}">
                <input type="hidden" name="deployNow" value="Y">
                <div class="row">
                    <div class="col-md-6">
                        <label class="control-label">Application Name</label> <span class="mandatory">*</span>
                        <input type="text" id="appName" name="appName" class="form-control form-control-sm" ng-model="item.appName" maxlength="50" required ng-change="adjustAppName(item)">
                        <small><i>Any blank, - or . characters are not allowed because application name is used in the URL of your application.</i></small>
                    </div>
                    <div class="col-md-6">
                        <label for="label">Label:</label>
                        <input type="text" id="label" name="label" class="form-control form-control-sm" ng-model="item.label" maxlength="100">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="url">Application URL:</label>
                        <div id="url" class="form-control text-dark" style="background-color: #c0c0c0;">
                            {{baseUrl}}/apps/{{item.appName}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="description">Description:</label>
                        <textarea id="description" name="description" ng-model="item.description" class="form-control form-control-sm" maxlength="2000" style="height: 120px;"></textarea></td>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="uploadFile">Zip File</label>
                        <div class="input-group max-width">
                            <input type="file" name="file" ng-model='file' id="uploadFile" style="width: 100%" class="btn btn-primary" onchange="uploadFileChanged('uploadFile');">
                        </div>
                    </div>
                    <div class="col-md-12">
                        A zip file should have below structure. (file and message directories are optional)
                        <pre class="text-white">
    APP-INF
        |- db
        |  |- myAppConfiguration.xml
        |  |- myAppSqlMapper1.xml
        |  |- myAppSqlMapper2.xml
        |  |- myAppSqlOption.json
        |  |- myAppSqlVQ.json
        |- file
        |  |- myAppFileOption.json
        |  |- myAppFileVS.json
        |- lib
        |  |- myAppJar1.jar
        |  |- myAppJar2.jar
        |- message
        |  |- myAppMessage_en.json
        |  |- myAppMessage_ko.json
        |- application.inf
        </pre>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="card-footer border-secondary">
        <div class="col-md-12 text-right">
            <button type="button" class="btn btn-sm btn-secondary" ng-click="cancel()">
                <span class="fa fa-window-close"></span> Cancel
            </button>
            <button type="button" class="btn btn-sm btn-secondary" ng-class="{'btn-success': isReadyToUpload()}" ng-click="upload()" ng-disabled="!isReadyToUpload() || fileForm.$invalid || uploading">
                <span class="fa fa-upload"></span> Update
            </button>
        </div>
    </div>
</div>
