<div class="history-modal-content" id="historyModal" ng-init="setHeight();" onresize="setHeight();">
    <div class="history-modal-header">
        <h1 class="modal-title">{{title}}</h1>
        <div class="icon">
            <button type="button" class="close" ng-click="cancel()" aria-hidden="true">×</button>
        </div>
    </div>
    <div class="history-modal-body">
        <div class="container-fluid mb-2" id="selectedNode">
            <i class="fa fa-bars" aria-hidden="true"></i>
            <span ng-if="selectedNodeType=='Application'">&emsp;APIs&emsp;</span>
            <span ng-if="selectedNodeType=='Workspace'">&emsp;{{selectedNode.name}}&emsp;</span>
            <span ng-if="selectedNodeType=='Project'">&emsp;{{selectedNode.name}}&emsp;</span>
            <span ng-if="selectedNodeType=='RawData'">
                <span>&emsp;{{selectedNode.parent.name}}&emsp;</span>
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                <span>&emsp;<span style="font-weight: bold;">{{selectedNode.type}}</span>&emsp;</span>
            </span>
        </div>
        <div class="container-fluid">
            <div class="row m-0 history-content" id="historyContainer">
                <div class="col-md-2 p-0" id="leftHistoryList">
                    <ul class="list-group history-listbox-border overflow-auto" style="height: 93%;">
                        <li class="list-group-item history-listbox-radius text-center history-bg"
                            ng-class="{'active': selectedNumLeft==-1}" ng-click="selectHistoryLeft(-1)">
                            Current
                        </li>
                        <li class="list-group-item history-listbox-radius history-bg" ng-repeat="(idx, item) in historiesLeft"
                            ng-class="{'active': idx==selectedNumLeft}" ng-click="selectHistoryLeft(idx, item)">
                            {{item.transactionDate | makeDate | makeLocalDate | date:'MM/dd/yyyy HH:mm:ss'}}<br>{{item.userName}}
                        </li>
                    </ul>
                    <div style="height: 7%;">
                        <button type="button" class="p-button p-component p-button-secondary p-button-text-only w-100 h-100"
                                ng-disabled="historiesLeft.length<10" ng-click="loadMore('L')">
                            <span class="p-button-text p-c">Load 10 More</span>
                            <span class="fa fa-chevron-down text-right"></span>
                        </button>
                    </div>
                </div>
                <div class="col-md-8 p-0 history-listbox-border history-bg" id="history">
                    <div class="row" id="historyContentHeader">
                        <div class="row col-md-6 pr-0">
                            <div class="col-md-7 history-content-header">
                                <span ng-if="selectedNumLeft==-1">Current<span ng-if="isChangedLeft">&nbsp;*</span></span></span>
                                <span ng-if="selectedNumLeft!=-1">{{selectedHistoryLeft.transactionDate | makeDate | makeLocalDate | date:'MM/dd/yyyy HH:mm:ss'}}&nbsp;({{selectedHistoryLeft.userName}})<span ng-if="isChangedLeft">&nbsp;*</span></span>
                            </div>
                            <div class="text-right col-md-5 p-2">
                            </div>
                        </div>
                        <div class="row ml-3 col-md-6 pr-0">
                            <div class="col-md-7 history-content-header">
                                <span ng-if="selectedNumRight==-1">Current<span ng-if="isChangedRight">&nbsp;*</span></span></span>
                                <span ng-if="selectedNumRight!=-1">{{selectedHistoryRight.transactionDate | makeDate | makeLocalDate | date:'MM/dd/yyyy HH:mm:ss'}}&nbsp;({{selectedHistoryRight.userName}})<span ng-if="isChangedRight">&nbsp;*</span></span>
                            </div>
                            <div class="text-right col-md-5 p-2">
                            </div>
                        </div>
                    </div>
                    <div class="bg-white" id="historyContent" style="overflow-x: auto;">
                        <div class="row">
                            <div class="col-md-6">
                                <table class="table table-condensed table-font-small">
                                    <tr>
                                        <th colspan="2" class="history-section-title">General</th>
                                    </tr>
                                    <tr ng-class="{ 'alert-warning': isValueDiff('type')}">
                                        <th style="width:35%">Type</th>
                                        <td>{{selectedHistoryLeft.type}}</td>
                                    </tr>
                                    <tr ng-class="{ 'alert-warning': isValueDiff('description')}">
                                        <th>Description</th>
                                        <td>{{selectedHistoryLeft.description}}</td>
                                    </tr>
                                    <tr ng-class="{ 'alert-warning': isValueDiff('url')}">
                                        <th>URL or Query</th>
                                        <td>{{selectedHistoryLeft.url}}</td>
                                    </tr>
                                    <tr ng-class="{ 'alert-warning': isValueDiff('method')}">
                                        <th>Method</th>
                                        <td>{{selectedHistoryLeft.method}}</td>
                                    </tr>
                                    <tr ng-class="{ 'alert-warning': isValueDiff('useAsLookupData','contextJson')}">
                                        <th>Use as Lookup Data</th>
                                        <td>{{selectedHistoryLeft.contextJson.useAsLookupData}}</td>
                                    </tr>

                                    <tr>
                                        <th colspan="2" class="history-section-title">Authentication</th>
                                    </tr>
                                    <tr ng-class="{ 'alert-warning': isValueDiff('authentication.url','contextJson')}">
                                        <th>URL</th>
                                        <td>{{selectedHistoryLeft.contextJson.authentication.url}}</td>
                                    </tr>
                                    <tr ng-class="{ 'alert-warning': isValueDiff('authentication.method','contextJson')}">
                                        <th>Method</th>
                                        <td>{{selectedHistoryLeft.contextJson.authentication.method}}</td>
                                    </tr>
                                    <tr ng-class="{ 'alert-warning': isValueDiff('authentication.content.type','contextJson')}">
                                        <th>Request Content Type</th>
                                        <td>{{selectedHistoryLeft.contextJson.authentication.content.type}}</td>
                                    </tr>
                                    <tr ng-class="{ 'alert-warning': isValueDiff('authentication.content.headers','contextJson')}">
                                        <th>Request Header</th>
                                        <td ng-click="jsonViewer('authentication.content.headers', 'contextJson', 'Authentication > Request Header')">
                                            <div class="history-content-truncated">{{selectedHistoryLeft.contextJson.authentication.content.headers}}</div>
                                        </td>
                                    </tr>
                                    <tr ng-class="{ 'alert-warning': isValueDiff('authentication.content.body','contextJson')}">
                                        <th>Request Content</th>
                                        <td ng-click="jsonViewer('authentication.content.body', 'contextJson', 'Authentication > Request Content')">
                                            <div class="history-content-truncated">{{selectedHistoryLeft.contextJson.authentication.content.body}}</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <th colspan="2" class="history-section-title">Request</th>
                                    </tr>
                                    <tr ng-class="{ 'alert-warning': isValueDiff('type','contentJson')}">
                                        <th>Request Content Type</th>
                                        <td>{{selectedHistoryLeft.contentJson.type}}</td>
                                    </tr>
                                    <tr ng-class="{ 'alert-warning': isValueDiff('headers','contentJson')}">
                                        <th>Request Header</th>
                                        <td ng-click="jsonViewer('headers', 'contentJson', 'Request > Request Header')">
                                            <div class="history-content-truncated">{{selectedHistoryLeft.contentJson.headers}}</div>
                                        </td>
                                    </tr>
                                    <tr ng-class="{ 'alert-warning': isValueDiff('useOriginalContent','contentJson')}">
                                        <th>Use Original Reqeust Content</th>
                                        <td>{{selectedHistoryLeft.contentJson.useOriginalContent}}</td>
                                    </tr>
                                    <tr ng-class="{ 'alert-warning': isValueDiff('body','contentJson')}">
                                        <th>Request Content</th>
                                        <td ng-click="jsonViewer('body', 'contentJson', 'Request > Request Content')">
                                            <div class="history-content-truncated">{{selectedHistoryLeft.contentJson.body}}</div>
                                        </td>
                                    </tr>
                                    <tr ng-class="{ 'alert-warning': isValueDiff('hiddenParameter','contentJson')}">
                                        <th>Hidden Parameter and Options</th>
                                        <td ng-click="jsonViewer('hiddenParameter', 'contentJson', 'Request > Hidden Parameter and Options')">
                                            <div class="history-content-truncated">{{selectedHistoryLeft.contentJson.hiddenParameter}}</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <th colspan="2" class="history-section-title">Return</th>
                                    </tr>
                                    <tr ng-class="{ 'alert-warning': isValueDiff('returnType','contextJson')}">
                                        <th>Return Type</th>
                                        <td>{{selectedHistoryLeft.contextJson.returnType}}</td>
                                    </tr>
                                    <tr ng-class="{ 'alert-warning': isValueDiff('useReturnStructure','contextJson')}">
                                        <th>Used by default</th>
                                        <td>{{selectedHistoryLeft.contextJson.useReturnStructure}}</td>
                                    </tr>
                                    <tr ng-class="{ 'alert-warning': isValueDiff('useRetrieveAPIFormat','contextJson')}">
                                        <th>Use Retrieve API / Pagination Format</th>
                                        <td>{{selectedHistoryLeft.contextJson.useRetrieveAPIFormat}}</td>
                                    </tr>
                                    <tr ng-class="{ 'alert-warning': isValueDiff('returnStructure','contextJson')}">
                                        <th>Return Content Structure</th>
                                        <td ng-click="jsonViewer('returnStructure', 'contextJson', 'Return > Return Content Structure')">
                                            <div class="history-content-truncated">{{selectedHistoryLeft.contextJson.returnStructure}}</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <th colspan="2" class="history-section-title">Data Schema</th>
                                    </tr>
                                    <tr ng-repeat="(k,v) in selectedHistoryLeft.dataSchemaJson" ng-if="selectedHistoryLeft.dataSchemaJson" ng-class="{ 'alert-warning': isValueDiff(k, 'dataSchemaJson')}"
                                        ng-click="jsonViewer('dataSchemaJson', 'dataSchemaJson', 'Data Schema')">
                                        <th> {{ k }} </th>
                                        <td ng-if="isObject(v) == false">&nbsp; {{ v }} </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <table class="table table-condensed table-font-small">
                                    <tr>
                                        <th colspan="2" class="history-section-title">General</th>
                                    </tr>
                                    <tr ng-class="{ 'alert-warning': isValueDiff('type')}">
                                        <th style="width:35%">Type</th>
                                        <td>{{selectedHistoryRight.type}}</td>
                                    </tr>
                                    <tr ng-class="{ 'alert-warning': isValueDiff('description')}">
                                        <th>Description</th>
                                        <td>{{selectedHistoryRight.description}}</td>
                                    </tr>
                                    <tr ng-class="{ 'alert-warning': isValueDiff('url')}">
                                        <th>URL or Query</th>
                                        <td>{{selectedHistoryRight.url}}</td>
                                    </tr>
                                    <tr ng-class="{ 'alert-warning': isValueDiff('method')}">
                                        <th>Method</th>
                                        <td>{{selectedHistoryRight.method}}</td>
                                    </tr>
                                    <tr ng-class="{ 'alert-warning': isValueDiff('useAsLookupData','contextJson')}">
                                        <th>Use as Lookup Data</th>
                                        <td>{{selectedHistoryRight.contextJson.useAsLookupData}}</td>
                                    </tr>

                                    <tr>
                                        <th colspan="2" class="history-section-title">Authentication</th>
                                    </tr>
                                    <tr ng-class="{ 'alert-warning': isValueDiff('authentication.url','contextJson')}">
                                        <th>URL</th>
                                        <td>{{selectedHistoryRight.contextJson.authentication.url}}</td>
                                    </tr>
                                    <tr ng-class="{ 'alert-warning': isValueDiff('authentication.method','contextJson')}">
                                        <th>Method</th>
                                        <td>{{selectedHistoryRight.contextJson.authentication.method}}</td>
                                    </tr>
                                    <tr ng-class="{ 'alert-warning': isValueDiff('authentication.content.type','contextJson')}">
                                        <th>Request Content Type</th>
                                        <td>{{selectedHistoryRight.contextJson.authentication.content.type}}</td>
                                    </tr>
                                    <tr ng-class="{ 'alert-warning': isValueDiff('authentication.content.headers','contextJson')}">
                                        <th>Request Header</th>
                                        <td ng-click="jsonViewer('authentication.content.headers', 'contextJson', 'Authentication > Request Header')">
                                            <div class="history-content-truncated">{{selectedHistoryRight.contextJson.authentication.content.headers}}</div>
                                        </td>
                                    </tr>
                                    <tr ng-class="{ 'alert-warning': isValueDiff('authentication.content.body','contextJson')}">
                                        <th>Request Content</th>
                                        <td ng-click="jsonViewer('authentication.content.body', 'contextJson', 'Authentication > Request Content')">
                                            <div class="history-content-truncated">{{selectedHistoryRight.contextJson.authentication.content.body}}</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <th colspan="2" class="history-section-title">Request</th>
                                    </tr>
                                    <tr ng-class="{ 'alert-warning': isValueDiff('type','contentJson')}">
                                        <th>Request Content Type</th>
                                        <td>{{selectedHistoryRight.contentJson.type}}</td>
                                    </tr>
                                    <tr ng-class="{ 'alert-warning': isValueDiff('headers','contentJson')}">
                                        <th>Request Header</th>
                                        <td ng-click="jsonViewer('headers', 'contentJson', 'Request > Request Header')">
                                            <div class="history-content-truncated">{{selectedHistoryRight.contentJson.headers}}</div>
                                        </td>
                                    </tr>
                                    <tr ng-class="{ 'alert-warning': isValueDiff('useOriginalContent','contentJson')}">
                                        <th>Use Original Reqeust Content</th>
                                        <td>{{selectedHistoryRight.contentJson.useOriginalContent}}</td>
                                    </tr>
                                    <tr ng-class="{ 'alert-warning': isValueDiff('body','contentJson')}">
                                        <th>Request Content</th>
                                        <td ng-click="jsonViewer('body', 'contentJson', 'Request > Request Content')">
                                            <div class="history-content-truncated">{{selectedHistoryRight.contentJson.body}}</div>
                                        </td>
                                    </tr>
                                    <tr ng-class="{ 'alert-warning': isValueDiff('hiddenParameter','contentJson')}">
                                        <th>Hidden Parameter and Options</th>
                                        <td ng-click="jsonViewer('hiddenParameter', 'contentJson', 'Request > Hidden Parameter and Options')">
                                            <div class="history-content-truncated">{{selectedHistoryRight.contentJson.hiddenParameter}}</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <th colspan="2" class="history-section-title">Return</th>
                                    </tr>
                                    <tr ng-class="{ 'alert-warning': isValueDiff('returnType','contextJson')}">
                                        <th>Return Type</th>
                                        <td>{{selectedHistoryRight.contextJson.returnType}}</td>
                                    </tr>
                                    <tr ng-class="{ 'alert-warning': isValueDiff('useReturnStructure','contextJson')}">
                                        <th>Used by default</th>
                                        <td>{{selectedHistoryRight.contextJson.useReturnStructure}}</td>
                                    </tr>
                                    <tr ng-class="{ 'alert-warning': isValueDiff('useRetrieveAPIFormat','contextJson')}">
                                        <th>Use Retrieve API / Pagination Format</th>
                                        <td>{{selectedHistoryRight.contextJson.useRetrieveAPIFormat}}</td>
                                    </tr>
                                    <tr ng-class="{ 'alert-warning': isValueDiff('returnStructure','contextJson')}">
                                        <th>Return Content Structure</th>
                                        <td ng-click="jsonViewer('returnStructure', 'contextJson', 'Return > Return Content Structure')">
                                            <div class="history-content-truncated">{{selectedHistoryRight.contextJson.returnStructure}}</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <th colspan="2" class="history-section-title">Data Schema</th>
                                    </tr>
                                    <tr ng-repeat="(k,v) in selectedHistoryRight.dataSchemaJson" ng-if="selectedHistoryRight.dataSchemaJson" ng-class="{ 'alert-warning': isValueDiff(k, 'dataSchemaJson')}"
                                        ng-click="jsonViewer('dataSchemaJson', 'dataSchemaJson', 'Data Schema')">
                                        <th> {{ k }} </th>
                                        <td ng-if="isObject(v) == false">&nbsp; {{ v }} </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 p-0" id="rightHistoryList">
                    <ul class="list-group history-listbox-border overflow-auto" style="height: 93%;">
                        <li class="list-group-item history-listbox-radius text-center history-bg"
                            ng-class="{'active': selectedNumRight==-1}" ng-click="selectHistoryRight(-1)">
                            Current
                        </li>
                        <li class="list-group-item history-listbox-radius history-bg" ng-repeat="(idx, item) in historiesRight"
                            ng-class="{'active': idx==selectedNumRight}" ng-click="selectHistoryRight(idx, item)">
                            {{item.transactionDate | makeDate | makeLocalDate | date:'MM/dd/yyyy HH:mm:ss'}}<br>{{item.userName}}
                        </li>
                    </ul>
                    <div style="height: 7%;">
                        <button type="button" class="p-button p-component p-button-secondary p-button-text-only w-100 h-100"
                                ng-disabled="historiesRight.length<10" ng-click="loadMore('R')">
                            <span class="p-button-text p-c">Load 10 More</span>
                            <span class="fa fa-chevron-down"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="history-modal-footer">
        <button type="button" class="p-button p-component p-button-text-only" ng-click="cancel()"><span class="p-button-text p-c">Close</span></button>
    </div>
</div>
