<div class="bf-modal-content">
    <div class="bf-modal-header">
        <h1 class="modal-title">{{title}}</h1>
        <div class="icon">
            <button type="button" class="close" ng-click="cancel()" aria-hidden="true">×</button>
        </div>
    </div>
    <div class="bf-modal-body">
        <form name="apiForm">
            <div class="form-group form-group-sm col-md-12" ng-class="{ 'has-error': apiForm.district.$invalid}">
                <label for="district">District</label>
                <select ng-if="mode=='Add'" name="district" id="district" ng-model="rawDataSource.district" class="form-control" required ng-disabled="mode==='Modify'">
                    <option ng-repeat="name in rawDataDistrict" value="{{name}}">{{name}}</option>
                </select>
                <div ng-if="mode=='Modify'">
                    <div class="form-control text-dark" style="background-color: #c0c0c0;">
                        {{rawDataSource.district}}
                    </div>
                </div>
            </div>
            <div class="form-group form-group-sm col-md-12" ng-if="rawDataSource.district == 'Workspace'" ng-class="{ 'has-error': 0 == rawDataSource.workspaceId}">
                <label for="workspace">Workspace</label>
                <div ng-if="mode=='Add'" angucomplete-alt
                     id="workspace"
                     placeholder="Enter a Workspace name"
                     pause="100"
                     selected-object="selectWorkspace"
                     selected-object-data="rawDataSource"
                     remote-url="{{contextPath}}/services/data/search/fbs.workspace-GetWorkspace.json?LIKE_name_LIKE="
                     title-field="name"
                     search-field="name"
                     field-required="true"
                     initial-value="rawDataSource.workspaceName"
                     minlength="2"
                     input-class="form-control form-control-small"
                     name="" required>{{ rawDataSource.workspaceName || '' }}
                </div>
                <div ng-if="mode=='Modify'">
                    <div class="form-control text-dark" style="background-color: #c0c0c0;">
                        {{rawDataSource.workspaceName}}
                    </div>
                </div>
            </div>
            <div class="form-group form-group-sm col-md-12" ng-if="rawDataSource.district == 'Project'" ng-class="{ 'has-error': 0 == rawDataSource.workspaceId || 0 == rawDataSource.projectId}">
                <label for="project">Project</label>
                <div ng-if="mode=='Add'" angucomplete-alt
                     id="project"
                     placeholder="Enter a Project name"
                     pause="100"
                     selected-object="selectProject"
                     selected-object-data="rawDataSource"
                     remote-url="{{contextPath}}/services/data/search/fbs.project-GetProject.json?LIKE_name_LIKE="
                     title-field="name"
                     search-field="name"
                     field-required="true"
                     initial-value="rawDataSource.projectName"
                     minlength="2"
                     input-class="form-control form-control-small"
                     name="" required>{{ rawDataSource.projectName || '' }}
                </div>
                <div ng-if="mode=='Modify'">
                    <div class="form-control text-dark" style="background-color: #c0c0c0;">
                        {{rawDataSource.projectName}}
                    </div>
                </div>
            </div>
            <div class="form-group form-group-sm col-md-12" ng-class="{ 'has-error': apiForm.type.$invalid }">
                <label for="type">Type</label>
                <input type="text" ng-model="rawDataSource.type" class="form-control" name="type" id="type" placeholder="Type" required autofocus>
            </div>
            <div class="form-group form-group-sm col-md-12">
                <label for="description">Description</label>
                <textarea ng-model="rawDataSource.description" class="form-control" name="description" id="description" placeholder="Description" maxlength="2000">
                </textarea>
            </div>
        </form>
    </div>
    <div class="bf-modal-footer">
        <button type="button" class="p-button p-component p-button-secondary p-button-text-only" ng-click="cancel()"><span class="p-button-text p-c">Cancel</span></button>
        <button type="button" class="p-button p-component p-button-text-only" ng-click="ok()" ng-disabled="!isReadyData() || apiForm.$invalid"><span class="p-button-text p-c">{{mode == 'Add' ? 'Add' : 'Update'}}</span></button>
    </div>
</div>
