<div class="bf-modal-content bf-modal-content-history">
    <div class="bf-modal-header">
        <h1 class="modal-title">{{title}}</h1>
        <div class="icon">
            <button type="button" class="close" ng-click="cancel()" aria-hidden="true">×</button>
        </div>
    </div>
    <div class="bf-modal-body">
        <div class="container-fluid mb-2">
            <i class="fa fa-bars" aria-hidden="true"></i>
            <span>&emsp;{{pathInfo}}&emsp;</span>
        </div>
        <div class="row m-0" id="panelContainer">
            <div class="col-md-12 p-0 bf-listbox-border bf-bg-gray-1">
                <div class="mr-1 ml-1 mb-1 bg-white">
                    <div id="view"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="bf-modal-footer bf-modal-footer-history">
        <button type="button" class="p-button p-component p-button-text-only" ng-click="cancel()"><span class="p-button-text p-c">Close</span></button>
    </div>
</div>
