.table {
    margin-bottom: 0;
}

.panelContainer {
    overflow: auto;
}

.badge-id {
    background-color: #c0c0c0 !important;
}

span > .tree-node-ico {
    margin-right: 0;
}

div.jsoneditor-field,
div.jsoneditor-value,
div.jsoneditor td,
div.jsoneditor th,
div.jsoneditor textarea,
.jsoneditor-schema-error {
    font-family: unset;
}

div.jsoneditor-tree table {
    background-color: white;
}

div.jsoneditor-tree-inner {
    height: 100%;
    background-color: white;
}

span.editable-text, span.editable-select {
    width: 100%;
}

span.editable-controls input, span.editable-controls select {
    width: 100%;
}

.history-section-title {
    background-color: #e1e1e1;
    text-align: center;
    font-weight: bold;
}

.history-content-truncated {
    display: block;
    width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
