<!DOCTYPE html>
<html ng-app="angularApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result Viewer</title>
    <script>
        var url = "[[SERVICE_CONTEXT_PATH]]/services/moon/version.js?var=mars$version$";
        document.write('<script src="' + url + '"><\/script>');
        var src = "[[SERVICE_CONTEXT_PATH]]/includes/node_modules-ext/mars/mars-require.js";
        document.write('<script src="' + src + '"><\/script>');
    </script>
    <script>
        mars$require$.baseHref();

        mars$require$.link('includes/node_modules/bootstrap4/dist/css/bootstrap.min.css');
        mars$require$.link('includes/node_modules/jsonformatter/dist/json-formatter.min.css');
        mars$require$.link("includes/node_modules-ext/bootstrap4/css/bootstrap-ext.css");
        mars$require$.link("includes/node_modules-ext/mars/css/mars.css");
        mars$require$.link("includes/node_modules-ext/bizflow/css/theme/dark/primereact/themes/theme.css");
        mars$require$.link("includes/node_modules-ext/bizflow/css/modeler-admin/bootstrap/custom-dark.css");

        mars$require$.script('includes/node_modules/jquery/dist/jquery.min.js');
        mars$require$.script('includes/node_modules/bootstrap/dist/js/bootstrap.min.js');
        mars$require$.script('includes/node_modules/angular/angular.js');
        mars$require$.script('includes/node_modules/jsonformatter/dist/json-formatter.js');
        mars$require$.script("includes/node_modules-ext/angular/angular-ext-filter.js");
        mars$require$.script('includes/node_modules-ext/mars/mars-util.js');
    </script>
    <script>
        var app = angular.module('angularApp', [
            'jsonFormatter'
            , 'mars.angular.filter'
        ]).controller('angularAppCtrl', ['$scope', function ($scope) {
            $scope.format = "[[SERVICE_RESULT_MESSAGE_FORMAT]]";
            $scope.result = [[SERVICE_RESULT_MESSAGE]];
        }]);
    </script>
</head>
<body ng-controller="angularAppCtrl" class="bg-dark">
<div class="card text-white bg-dark border-secondary" ng-if="result.iepActionLog">
    <div class="card-header card-header-xs bg-info">
        <h5 class="panel-title pd5">Summary</h5>
    </div>
    <div class="bf-table-3 pd20">
        <table class="table table-striped table-condensed">
            <tr>
                <th>Type</th>
                <td>{{result.iepActionLog.objectType}}</td>
            </tr>
            <tr ng-if="result.exportObject.id">
                <th>ID</th>
                <td>{{result.exportObject.id}}</td>
            </tr>
            <tr ng-if="result.exportObject.project">
                <th>ID</th>
                <td>{{result.exportObject.project.id}}</td>
            </tr>
            <tr ng-if="result.iepActionLog.objectType === 'Project'">
                <th>Project Name</th>
                <td>{{result.exportObject.name}}</td>
            </tr>
            <tr ng-if="result.iepActionLog.objectType === 'Project'">
                <th>Project Description</th>
                <td>{{result.exportObject.description}}</td>
            </tr>
            <tr ng-if="result.exportObject.project">
                <th>Project Name</th>
                <td>{{result.exportObject.project.name}}</td>
            </tr>
            <tr ng-if="result.exportObject.project.description">
                <th>Project Description</th>
                <td>{{result.exportObject.project.description}}</td>
            </tr>
            <tr>
                <th>User</th>
                <td>{{result.iepActionLog.userName}}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{result.iepActionLog.actionDate | makeDate | makeLocalDate | date:'MM/dd/yyyy HH:mm:ss'}}</td>
            </tr>
            <tr>
                <th>Web Server</th>
                <td>{{result.iepActionLog.server}}</td>
            </tr>
            <tr>
                <th>Authentication Server</th>
                <td>{{result.iepActionLog.authenticationServer}}</td>
            </tr>
            <tr>
                <th>User IP Address</th>
                <td>{{result.iepActionLog.remoteAddress}}</td>
            </tr>
            <tr>
                <th>User Time Zone</th>
                <td>{{result.iepActionLog.timezone}}</td>
            </tr>
        </table>
    </div>
</div>
<div ng-if="result.iepActionLog" style="padding: 5px;">
</div>
<div class="card text-white bg-dark border-secondary">
    <div class="card-header card-header-xs bg-info">
        <h5 class="panel-title pd5">Details</h5>
    </div>
    <div id="result" class="card-block pd-20">
        <div class="bg-dark">
            <json-formatter open="1" json="result" class="json-formatter-dark" style="overflow: auto; padding-bottom: 15px;"></json-formatter>
        </div>
    </div>
</div>
</body>
</html>
