<div id="{{id}}" style="margin-bottom: 10px;">
    <div id="{{id}}Title" class="card-header bg-info">{{title}}</div>
    <div class="progress">
        <div id="{{id}}Bar" class="progress-bar progress-bar-striped progress-bar-animated" role="{{id}}bar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0;">{{percentage}}
        </div>
    </div>
</div>