</div>
<div id="importSuccess" class="alert alert-sm alert-success" role="alert" style="display: none;margin:0;">
    $EXP${com.bizflow.io.services.core.message.util.I18NMessageUtil::getMessage('fbs','message.import.done')}
</div>
<div id="exportSuccess" class="alert alert-sm alert-success" role="alert" style="display: none;margin:0;">
    $EXP${com.bizflow.io.services.core.message.util.I18NMessageUtil::getMessage('fbs','message.export.done')}
</div>
<script>
    var e_date = new Date();
    $("#howLong").html(e_date.getTime() - s_date.getTime());
    setTimeout(function () {
        if (category.startsWith("Import")) {
            $("#importSuccess").css("display", "");
        } else if (category.startsWith("Export")) {
            $("#exportSuccess").css("display", "");
        }
    }, 500);
</script>
<div class="col-md-12 text-center" style="padding-top: 10px;">
    <button type="button" class="btn btn-sm btn-secondary" onclick="parent.progressiveRunDoneOk();">Ok</button>
</div>
</div>
<br><br><br>
<script>
    parent.progressiveRunDone();
    setTimeout(function () {
        window.scrollTo(0, document.body.scrollHeight);
    }, 500);
</script>
</body>
</html>