<div class="bf-modal-content" role="dialog" id="serviceResultCallbackScope">
    <div class="bf-modal-header">
        <h1 class="modal-title">{{config.title || title }}</h1>
        <div class="icon">
            <button type="button" class="close" ng-click="cancel()" aria-hidden="true">×</button>
        </div>
    </div>
    <div class="bf-modal-body">
        <form method="post" enctype="multipart/form-data" target="hiddenFrame1" accept-charset="UTF-8">
            <input type="hidden" name="id" value="{{document.id}}">
            <div class="row mb-1">
                <div class="col-md-8">
                    <label class="control-label">Name&nbsp;:&nbsp;</label>
                    <span class="form-control-static">{{document.name}}</span>
                </div>
                <div class="col-md-4">
                    <label class="control-label">Size&nbsp;:&nbsp;</label>
                    <span class="form-control-static">{{document.fileSize | makeMBSize:2}} MB</span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-8">
                    <label class="control-label">Title</label>
                    <div class="input-group max-width">
                        <input type="text" name="title" ng-model="document.title" class="form-control max-width" maxlength="500">
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="control-label">Type</label>
                    <select name="category" ng-model="document.category" class="form-control max-width" placeholder="Select document type" ng-required="config.typeRequired">
                        <option value=""></option>
                        <option ng-repeat="docType in documentTypes" value='{"value":"{{docType.value}}","label":"{{docType.label}}"}'>{{docType.label}}</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-12">
                    <label class="control-label">Description</label>
                    <div class="input-group max-width">
                        <input type="text" name="description" ng-model="document.description" class="form-control max-width" maxlength="2000">
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <label class="control-label">Case ID&nbsp;:&nbsp;</label>
                    <span class="form-control-static">{{document.caseId}}</span>
                </div>
                <div class="col-md-4">
                    <label class="control-label">Activity Sequence&nbsp;:&nbsp;</label>
                    <span class="form-control-static">{{document.activitySequence}}</span>
                </div>
                <div class="col-md-4">
                    <label class="control-label">Workitem Sequence&nbsp;:&nbsp;</label>
                    <span class="form-control-static">{{document.workitemSequence}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label for="uploadFile">File</label>
                    <div class="input-group max-width">
                        <input type="file" name="file" id="uploadFile" style="width: 100%" class="btn btn-primary" onchange="checkUploadFile('uploadFile');"/>
                        <small>* Please select a file only when you want to change the file</small>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="bf-modal-footer">
        <button type="button" class="p-button p-component p-button-secondary p-button-text-only" ng-click="cancel()"><span class="p-button-text p-c">Cancel</span></button>
        <button type="button" class="p-button p-component p-button-text-only" ng-click="upload('uploadFile')" ng-disabled="!isReadyToUpload('uploadFile') || uploading"><span class="p-button-text p-c">Update</span></button>
    </div>
</div>
