<div class="history-modal-content" id="historyModal" ng-init="setHeight();" onresize="setHeight();">
    <div class="history-modal-header">
        <h1 class="modal-title">{{title}}</h1>
        <div class="icon">
            <button type="button" class="close" ng-click="cancel()" aria-hidden="true">×</button>
        </div>
    </div>
    <div class="history-modal-body">
        <div class="container-fluid mb-2" id="selectedNode">
            <i class="fa fa-bars" aria-hidden="true"></i>
            <span ng-if="selectedNodeType=='TreeRoot'">&emsp;Root&emsp;</span>
            <span ng-if="selectedNodeType=='Application'">&emsp;Application&emsp;</span>
            <span ng-if="selectedNodeType=='Workspace'">&emsp;{{selectedNode.name}}&emsp;</span>
            <span ng-if="selectedNodeType=='Project'">
                <span>&emsp;{{selectedNode.parent.name}}&emsp;</span>
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                <span>&emsp;{{selectedNode.name}}&emsp;</span>
            </span>
            <span ng-if="selectedNodeType=='Form'">
                <span>&emsp;{{selectedNode.parent.parent.name}}&emsp;</span>
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                <span>&emsp;{{selectedNode.parent.name}}&emsp;</span>
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                <span>&emsp;{{selectedNode.name}}&emsp;</span>
            </span>
        </div>
        <div class="container-fluid">
            <div class="row m-0 history-content" id="historyContainer">
                <div class="col-md-2 p-0" id="leftHistoryList">
                    <ul class="list-group history-listbox-border overflow-auto" style="height: 93%;">
                        <li class="list-group-item history-listbox-radius text-center history-bg"
                            ng-class="{'active': selectedNumLeft==-1}" ng-click="selectHistoryLeft(-1)">
                            Current
                        </li>
                        <li class="list-group-item history-listbox-radius history-bg" ng-repeat="(idx, item) in fileHistoriesLeft"
                            ng-class="{'active': idx==selectedNumLeft}" ng-click="selectHistoryLeft(idx, item)">
                            {{item.transactionDate | makeDate | makeLocalDate | date:'MM/dd/yyyy HH:mm:ss'}}<br>{{item.userName}}
                        </li>
                    </ul>
                    <div style="height: 7%;">
                        <button type="button" class="p-button p-component p-button-secondary p-button-text-only w-100 h-100"
                                ng-disabled="fileHistoriesLeft.length<10" ng-click="loadMore('L')">
                            <span class="p-button-text p-c">Load 10 More</span>
                            <span class="fa fa-chevron-down text-right"></span>
                        </button>
                    </div>
                </div>
                <div class="col-md-8 p-0 history-listbox-border history-bg" id="history">
                    <div class="row" id="historyContentHeader">
                        <div class="row col-md-6 pr-0 pb-0">
                            <div class="col-md-7 history-content-header">
                                <span ng-if="selectedNumLeft==-1">Current</span></span>
                                <span ng-if="selectedNumLeft!=-1">{{selectedHistoryLeft.transactionDate | makeDate | makeLocalDate | date:'MM/dd/yyyy HH:mm:ss'}}&nbsp;({{selectedHistoryLeft.userName}})</span>
                            </div>
                            <div class="text-right col-md-5 p-2">
                                <div ng-if="selectedNumLeft!=-1">
                                    <button class="p-button p-component p-button-secondary p-button-text-icon-left" ng-click="revert('L')" style="font-size: 12px;">
                                        <span class="fa fa-history p-c p-button-icon-left"></span>
                                        <span class="p-button-text p-c">Revert</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row ml-3 col-md-6 pr-0">
                            <div class="col-md-7 history-content-header">
                                <span ng-if="selectedNumRight==-1">Current</span></span>
                                <span ng-if="selectedNumRight!=-1">{{selectedHistoryRight.transactionDate | makeDate | makeLocalDate | date:'MM/dd/yyyy HH:mm:ss'}}&nbsp;({{selectedHistoryRight.userName}})</span>
                            </div>
                            <div class="text-right col-md-5 p-2">
                                <div ng-if="selectedNumRight!=-1">
                                    <button class="p-button p-component p-button-secondary p-button-text-icon-left p-buttonset-1" ng-click="revert('R')" style="font-size: 12px;">
                                        <span class="fa fa-history p-c p-button-icon-left"></span>
                                        <span class="p-button-text p-c">Revert</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content bg-white" id="historyContent" style="overflow-x: hidden;">
                        <div class="row">
                            <div class="col-md-6">
                                <table class="table table-condensed table-font-small" id="table1">
                                    <tr ng-class="{'alert-warning': isValueDiff('title')}">
                                        <th>Title</th>
                                        <td>
                                            <a target="{{fileInfoLeft.name}}" ng-href="{{getFileUrl(fileInfoLeft)}}" title="{{fileInfoLeft.title}}">{{fileInfoLeft.title}}</a>
                                        </td>
                                    </tr>
                                    <tr ng-class="{'alert-warning': isValueDiff('category')}">
                                        <th>Category</th>
                                        <td>{{getCategory(fileInfoLeft.category)}}</td>
                                    </tr>
                                    <tr ng-class="{'alert-warning': isValueDiff('caseId')}">
                                        <th>Case ID</th>
                                        <td>{{fileInfoLeft.caseId}}</td>
                                    </tr>
                                    <tr ng-class="{'alert-warning': isValueDiff('activitySequence')}">
                                        <th>Activity Sequence</th>
                                        <td>{{fileInfoLeft.activitySequence}}</td>
                                    </tr>
                                    <tr ng-class="{'alert-warning': isValueDiff('workitemSequence')}">
                                        <th>Workitem Sequence</th>
                                        <td>{{fileInfoLeft.workitemSequence}}</td>
                                    </tr>
                                    <tr ng-class="{'alert-warning': isValueDiff('description')}">
                                        <th>Description</th>
                                        <td>{{fileInfoLeft.description}}</td>
                                    </tr>
                                    <tr ng-if="!otherType">
                                        <th colspan="2">Preview</th>
                                    </tr>
                                </table>
                                <img ng-if="document.type=='Image'" id="imageLeft" class="ml-3" src="#" width="90%" height="auto"/>
                                <div ng-if="document.type==='CSS' || document.type==='HTML' || document.type==='JS'" id="codemirrorLeft"></div>
                                <canvas ng-if="document.type=='pdf'" id="pdfLeft" class="ml-3"></canvas>
                            </div>
                            <div class="col-md-6">
                                <table class="table table-condensed table-font-small" id="table2">
                                    <tr ng-class="{'alert-warning': isValueDiff('title')}">
                                        <th>Title</th>
                                        <td>
                                            <a target="{{fileInfoRight.name}}" ng-href="{{getFileUrl(fileInfoRight)}}" title="{{fileInfoRight.title}}">{{fileInfoRight.title}}</a>
                                        </td>
                                    </tr>
                                    <tr ng-class="{'alert-warning': isValueDiff('category')}">
                                        <th>Category</th>
                                        <td>{{getCategory(fileInfoRight.category)}}</td>
                                    </tr>
                                    <tr ng-class="{'alert-warning': isValueDiff('caseId')}">
                                        <th>Case ID</th>
                                        <td>{{fileInfoRight.caseId}}</td>
                                    </tr>
                                    <tr ng-class="{'alert-warning': isValueDiff('activitySequence')}">
                                        <th>Activity Sequence</th>
                                        <td>{{fileInfoRight.activitySequence}}</td>
                                    </tr>
                                    <tr ng-class="{'alert-warning': isValueDiff('workitemSequence')}">
                                        <th>Workitem Sequence</th>
                                        <td>{{fileInfoRight.workitemSequence}}</td>
                                    </tr>
                                    <tr ng-class="{'alert-warning': isValueDiff('description')}">
                                        <th>Description</th>
                                        <td>{{fileInfoRight.description}}</td>
                                    </tr>
                                    <tr ng-if="!otherType">
                                        <th colspan="2">Preview</th>
                                    </tr>
                                </table>
                                <img ng-if="document.type=='Image'" id="imageRight" class="ml-3" src="#" width="90%" height="auto"/>
                                <div ng-if="document.type==='CSS' || document.type==='HTML' || document.type==='JS'" id="codemirrorRight"></div>
                                <canvas ng-if="document.type=='pdf'" id="pdfRight" class="ml-3"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 p-0" id="rightHistoryList">
                    <ul class="list-group history-listbox-border overflow-auto" style="height: 93%;">
                        <li class="list-group-item history-listbox-radius text-center history-bg"
                            ng-class="{'active': selectedNumRight==-1}" ng-click="selectHistoryRight(-1)">
                            Current
                        </li>
                        <li class="list-group-item history-listbox-radius history-bg" ng-repeat="(idx, item) in fileHistoriesRight"
                            ng-class="{'active': idx==selectedNumRight}" ng-click="selectHistoryRight(idx, item)">
                            {{item.transactionDate | makeDate | makeLocalDate | date:'MM/dd/yyyy HH:mm:ss'}}<br>{{item.userName}}
                        </li>
                    </ul>
                    <div style="height: 7%;">
                        <button type="button" class="p-button p-component p-button-secondary p-button-text-only w-100 h-100"
                                ng-disabled="fileHistoriesRight.length<10" ng-click="loadMore('R')">
                            <span class="p-button-text p-c">Load 10 More</span>
                            <span class="fa fa-chevron-down"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="history-modal-footer">
        <button type="button" class="p-button p-component p-button-text-only" ng-click="cancel()"><span class="p-button-text p-c">Close</span></button>
    </div>
</div>
