<div class="bf-modal-content" id="documentAdd">
    <div class="bf-modal-header">
        <h1 class="modal-title">{{config.title || title }}</h1>
        <div class="icon">
            <button type="button" class="close" ng-click="cancel()" aria-hidden="true">×</button>
        </div>
    </div>
    <div class="bf-modal-body" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
        <div class="row">
            <div class="col-md-12" ng-show="uploader.isHTML5">
                <div class="well my-drop-zone max-width display-table" style="height: 150px;border: 2px dashed #c0c0c0;" nv-file-over="" uploader="uploader">
                    <div class="text-center text-middle">
                        <h4>Please drop files here</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                Or click to select file
                <div class="btn btn-primary btn-file">
                    <input ng-show="config.multiple == true" type="file" nv-file-select="" uploader="uploader" multiple/>
                    <input ng-show="config.multiple == false" type="file" nv-file-select="" uploader="uploader" class="collapse"/>
                </div>
            </div>
        </div>
        <div class="bf-table-2" ng-style="{'overflow':'auto', 'max-height': (config.maxListHeight || 500) + 'px'}">
            <table class="table table-striped table-condensed text-{{scope.textColor}} bg-{{scope.bgColor}} no-margin">
                <thead>
                <tr>
                    <th width="30%">Name</th>
                    <th width="35%">Title</th>
                    <th width="15%">Type</th>
                    <th width="10%" ng-show="uploader.isHTML5">Size</th>
                    <th width="10%" ng-show="uploader.isHTML5">Progress</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat-start="item in uploader.queue">
                    <td><strong>{{ item.file.name }}</strong></td>
                    <td><input type="text" ng-model="item.title" class="form-control" placeholder="Enter a title if you want to display a different name" maxlength="250"></td>
                    <td>
                        <select name="docType" ng-model="item.type" class="form-control" placeholder="Select document type" ng-required="config.typeRequired">
                            <option value=""></option>
                            <option ng-repeat="docType in documentTypes" value="{{docType.value}}">{{docType.label}}</option>
                        </select>
                    </td>
                    <td ng-show="uploader.isHTML5" nowrap>{{item.file.size|makeMBSize:3 }} MB</td>
                    <td ng-show="uploader.isHTML5">
                        <div class="progress" style="height: 29px">
                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                        </div>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger btn-sm" ng-click="removeFile(item);" tooltip="Remove">
                            <span class="fa fa-trash"></span>
                        </button>
                    </td>
                </tr>
                <tr ng-repeat-end ng-show="item.error.msg" class="alert-danger">
                    <td colspan="6" style="padding: 2px;">{{item.error.msg}}</td>
                </tr>
                <tr ng-hide="uploader.queue.length > 0">
                    <td colspan="6" class="text-center"><h6>No files</h6></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="bf-modal-footer">
        <button type="button" class="p-button p-component p-button-secondary p-button-text-only" ng-click="cancel()"><span class="p-button-text p-c">Cancel</span></button>
        <button type="button" class="p-button p-component p-button-text-only" ng-click="upload()" ng-disabled="!isReadyToUpload()"><span class="p-button-text p-c">Upload</span></button>
    </div>
</div>
