<div class="bf-modal-content" id="fileEntityList" ng-init="setHeight();" onresize="setHeight();">
    <div class="bf-modal-header">
        <h1 class="modal-title">{{config.title || title }}</h1>
        <div class="icon">
            <button type="button" class="close" ng-click="cancel()" aria-hidden="true">×</button>
        </div>
    </div>
    <div class="bf-modal-body overflow-auto" id="fileEntityListBody">
        <div class="bf-table-2">
            <table class="table table-striped table-condensed text-{{textColor}} no-margin">
                <thead>
                <tr style="font-weight: bold">
                    <th>#</th>
                    <th ng-click="sortDataValueList('name')"><a>Name</a></th>
                    <th ng-click="sortDataValueList('size')" nowrap><a>Size (KB)</a></th>
                    <th width="200px"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in entityList" class="file">
                    <td>{{$index + 1}}</td>
                    <td><a target="{{file.id}}{{$index}}" href="{{getFileUrl(file, item)}}" title="{{item.name}}">{{item.name}}</a></td>
                    <td>{{item.size|makeKBSize:2}}</td>
                    <td nowrap>
                        <button type="button" class="p-button p-component p-button-secondary p-button-text-only" ng-click="copyUrl(file, item, 'full');$event.stopPropagation();">Copy Full URL</button>
                        <button type="button" class="p-button p-component p-button-secondary p-button-text-only" ng-click="copyUrl(file, item);$event.stopPropagation();">Copy URI</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="bf-modal-footer">
        <button type="button" class="p-button p-component p-button-text-only" ng-click="cancel()"><span class="p-button-text p-c">Close</span></button>
    </div>
</div>
