<div class="bf-modal-content">
    <div class="bf-modal-header">
        <h1 class="modal-title">{{title}}</h1>
        <div class="icon">
            <button type="button" class="close" ng-click="cancel()" aria-hidden="true">×</button>
        </div>
    </div>
    <div class="bf-modal-body">
        <div class="card-block panelContainer">
            <div ng-if="deletedList.data.length == 0">
                <div class="text-center m-2">There are no files</div>
            </div>
            <div class="bf-table-2">
                <table class="table table-striped table-condensed table-font-small text-<%=textColor%>" ng-if="deletedList.data.length > 0">
                    <thead>
                    <tr style="font-weight: bold">
                        <th>#</th>
                        <th ng-click="sortFileList('title')"><a>Title</a></th>
                        <th class="w5" ng-click="sortFileList('type')"><a>Type</a></th>
                        <th class="w5" ng-click="sortFileList('fileSize')" nowrap><a>Size</a></th>
                        <th ng-click="sortFileList('name')"><a>Name</a></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in deletedList.data">
                        <td>{{item.ROW_NUMBER}}</td>
                        <td><a target="{{item.id}}" ng-href="{{getFileUrl(item)}}" title="{{item.title}}">{{item.title}}</a></td>
                        <td>{{item.type}}</td>
                        <td>{{item.fileSize|number:0}}</td>
                        <td><a target="{{item.id}}" ng-href="{{getFileUrl(item)}}" title="{{item.name}}">{{item.name}}</a></td>
                        <td class="right-btn" style="vertical-align: middle;">
                            <button type="button" class="p-button p-component p-button-secondary" ng-click="recover(item)">Recover</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row justify-content-md-center" style="padding-top: 10px;" ng-if="deletedList.totalCount > deletedListPageSize">
                <ul class="uibPagination" uib-pagination total-items="deletedList.totalCount" items-per-page="deletedListPageSize" ng-model="$parent.deletedListCurrentPage"
                    max-size="10" boundary-links="true" rotate="false" ng-change="changeDeletedFileListPage()"></ul>
            </div>
        </div>
    </div>
    <div class="bf-modal-footer">
        <button type="button" class="p-button p-component p-button-text-only" ng-click="cancel()"><span class="p-button-text p-c">Close</span></button>
    </div>
</div>