<div role="dialog">
    <div class="modal-header"><h3 class="modal-title">{{title}}</h3></div>
    <div class="modal-body">
        <form name="memberForm">
            <div class="form-group col-md-6" ng-class="{ 'has-error': memberForm.name.$invalid }">
                <label for="name">Name</label>
                <input type="text" ng-model="member.name" class="form-control" name="name" id="name" placeholder="Name" required>
            </div>
            <div class="form-group col-md-6">
                <label for="shortName">Short Name</label>
                <input type="text" ng-model="member.shortName" class="form-control" name="shortName" id="shortName" placeholder="Short Name" maxlength="20">
            </div>
            <div class="form-group col-md-6" ng-class="{ 'has-error': memberForm.loginId.$invalid || loginIdExist}">
                <label for="loginId">Login ID</label>&nbsp;
                <small ng-if="loginIdExist" class="alert-danger" role="alert" style="padding: 2px;">Login ID exists</small>
                <input type="text" ng-model="member.loginId" class="form-control" name="loginId" id="loginId" placeholder="Login ID" required ng-change="checkLoginId(member)">
            </div>
            <div class="form-group col-md-6" ng-class="{ 'has-error': memberForm.password.$invalid }">
                <label for="password">Password</label>
                <input type="password" ng-model="member.password" class="form-control" name="password" id="password" placeholder="Password" ng-required="newMode">
                <span ng-show="member.id" style="font-style: italic;">Leave blank not to change password</span>
            </div>
            <div class="form-group col-md-12" ng-if="null == gage" ng-class="{ 'has-error': null == member.gageId }">
                <label for="email">Gage Organization</label>
                <div angucomplete-alt
                     id="gage"
                     placeholder="Enter a Gage name"
                     pause="100"
                     selected-object="selectGage"
                     selected-object-data="member"
                     remote-url-request-formatter="searchGageParams"
                     remote-url="/mars/services/data/get/mars.mars-SearchGage.json"
                     title-field="name"
                     search-field="name"
                     field-required="true"
                     initial-value="member.gageName"
                     minlength="2"
                     input-class="form-control form-control-small"
                     name="gage" required>{{ member.gageName || '' }}
                </div>
            </div>
            <div class="form-group col-md-12">
                <label for="manager">Manager</label>
                <div angucomplete-alt
                     id="manager"
                     placeholder="Search manager"
                     pause="300"
                     selected-object="setManager"
                     selected-object-data="member"
                     remote-url="/mars/services/data/get/mars.mars-LookUpMember.json?query="
                     title-field="text"
                     search-field="text"
                     field-required="false"
                     initial-value="member.managerName"
                     minlength="2"
                     input-class="form-control form-control-small"
                     name="manager">{{member.managerName}}
                </div>
            </div>
            <div class="form-group col-md-12">
                <label for="email">EMail</label>
                <input type="text" ng-model="member.email" class="form-control" name="email" id="email" placeholder="EMail Address">
            </div>
            <div class="form-group col-md-6">
                <label for="phone1">Phone 1</label>
                <input type="text" ng-model="member.phone1" ui-mask="(999) 999-9999" class="form-control" name="phone1" id="phone1">
            </div>
            <div class="form-group col-md-6">
                <label for="phone2">Phone 2</label>
                <input type="text" ng-model="member.phone2" ui-mask="(999) 999-9999" class="form-control" name="phone2" id="phone2">
            </div>
            <div ng-if="moons" class="form-group col-md-6" ng-class="{ 'has-error': memberForm.district.$invalid}">
                <label for="district">District (Default Moon application)</label>
                <select name="district" id="district" ng-model="member.district" class="form-control" required ng-change="getMemberRoles();">
                    <option value="MARS">MARS</option>
                    <option ng-repeat="moon in moons" value="{{moon.name}}">{{moon.title || moon.name}}</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="role">Role</label>
                <select name="role" id="role" ng-model="member.roleId" class="form-control" required ng-options="role.id as role.role for role in memberRoles">
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="sysRole">System Role</label>
                <select name="sysRole" id="sysRole" ng-model="member.sysRole" class="form-control" required>
                    <option value="user">User</option>
                    <option value="admin">Admin</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <br>
                <input type="radio" ng-model="member.active" name="active" ng-value="true"> Active
                <input type="radio" ng-model="member.active" name="active" ng-value="false"> Inactive
            </div>
        </form>
    </div>
    <div class="modal-footer" style="border: 0px;">
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" ng-click="ok()" ng-disabled="memberForm.$invalid || loginIdExst || !isValidMember()">OK</button>
    </div>
</div>
