<div class="panel panel-default">
    <div class="panel-heading" _data-toggle="collapse" _data-target="#Member">
        <h3 class="panel-title">
            <table cellpadding="10" cellspacing="0" class="max-width">
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-user"></span>&nbsp;Select Users
                    </td>
                    <td class="col-md-6">
                        <form ng-submit="searchUsersByName();">
                            <div class="input-group max-width">
                                <input type="text" class="form-control max-width" placeholder="Search name for..." ng-model="searchNameValue" ng-click="$event.stopPropagation();">
                                <span class="input-group-btn"><button class="btn btn-default" type="button" ng-click="searchUsersByName(); $event.stopPropagation();"><span class="glyphicon glyphicon-search"></span></button></span>
                            </div>
                        </form>
                    </td>
                    <td class="text-right">
                        <button type="button" class="btn btn-default navbar-btn" ng-click="refresh();$event.stopPropagation()">Refresh</button>
                    </td>
                </tr>
            </table>
        </h3>
    </div>
    <div class="panel-body">
        <div style="min-height: 40px;padding-top: 2px;">
            <span ng-repeat="member in selectedMembers">
                <button type="button" class="btn btn-default" ng-click="removeSelectedMember(member)">
                    {{member.name}} <span class="badge"><span class="glyphicon glyphicon-remove"></span></span>
                </button>&nbsp;
            </span>
        </div>
        <div id="Member" class="collapse in table-responsive" style="padding-top: 10px;">
            <div class="table-bordered">
                <table class="table table-striped table-condensed" ng-table="usersTable" show-filter="true">
                    <tr style="font-weight: bold">
                        <th ng-click="sort('name')"><a>Name</a></th>
                        <th ng-click="sort('loginId')"><a>Login ID</a></th>
                        <th ng-click="sort('email')"><a>EMail</a></th>
                        <th ng-click="sort('managerName')"><a>Manger</a></th>
                        <th ng-click="sort('phone')"><a>Phone</a></th>
                        <th ng-if="isGlobalAdmin()" ng-click="sort('district')"><a>District</a></th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="member in memberList.data" ng-click="(!isSelectableMember || isSelectableMember(member)) && selectMember(member)"
                        ng-class="{ 'row-selected': member._selected || isSelectedMember(member), 'row-none-selectable':isSelectableMember && !isSelectableMember(member)}">
                        <td>{{member.name}}</td>
                        <td>{{member.loginId || member.loginid}}</td>
                        <td>{{member.email}}</td>
                        <td>{{member.managerName}}</td>
                        <td>{{member.phone1}} {{member.phone2}}</td>
                        <td ng-if="isGlobalAdmin()">{{moonMap.get(member.district).title || globalDistrict}}</td>
                        <td>
                            <button ng-if="isAdmin() || editButtonOn" type="button" class="btn btn-xs btn-default" ng-click="editMember(member);$event.stopPropagation();">Edit</button>
                            <button type="button" class="btn btn-xs btn-default" ng-if="!isSelectableMember || isSelectableMember(member)" ng-click="selectMember(member);$event.stopPropagation();">Select</button>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="text-center" style="padding-top: 20px;" ng-if="memberList.totalCount > pageSize">
                <ul style="margin:0" uib-pagination total-items="memberList.totalCount" items-per-page="pageSize" ng-model="$parent.currentPage"
                    max-size="10" boundary-links="true" rotate="false" ng-change="pageChanged()"></ul>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="selectCancel()">Cancel</button>
        <button class="btn btn-primary" ng-click="selectOk()">OK</button>
    </div>
</div>
