<div class="bf-modal-content">
    <div class="bf-modal-header">
        <h1 class="modal-title">{{title}}</h1>
        <div class="icon">
            <button type="button" class="close" ng-click="cancel()" aria-hidden="true">×</button>
        </div>
    </div>
    <div class="bf-modal-body">
        <form name="i18nForm">
            <div class="form-group form-group-sm col-md-12" ng-class="{ 'has-error': i18nForm.district.$invalid}">
                <label for="district">District</label>
                <select ng-if="mode=='Add' && !isParamProjectId()" name="district" id="district" ng-model="i18nData.district" class="form-control" required>
                    <option ng-repeat="name in lookupDataDistrict" value="{{name}}">{{name}}</option>
                </select>
                <div ng-if="mode=='Modify' || isParamProjectId()">
                    <div class="form-control text-dark" style="background-color: #c0c0c0;">
                        {{i18nData.district}}
                    </div>
                </div>
            </div>
            <div class="form-group form-group-sm col-md-12" ng-if="i18nData.district == 'Workspace' || i18nData.district == 'Project'" ng-class="{ 'has-error': 0 == i18nData.workspaceId}">
                <label for="workspace">Workspace</label>
                <div ng-if="mode=='Add' && !isParamProjectId()" angucomplete-alt
                     id="workspace"
                     placeholder="Enter a Workspace name"
                     pause="100"
                     selected-object="selectWorkspace"
                     selected-object-data="i18nData"
                     remote-url="{{contextPath}}/services/data/search/fbs.workspace-GetWorkspace.json?LIKE_name_LIKE="
                     title-field="name"
                     search-field="name"
                     field-required="true"
                     initial-value="i18nData.workspaceName"
                     minlength="2"
                     input-class="form-control form-control-small"
                     name="" required>{{ i18nData.workspaceName || '' }}
                </div>
                <div ng-if="mode=='Modify' || isParamProjectId()">
                    <div class="form-control text-dark" style="background-color: #c0c0c0;">
                        {{i18nData.workspaceName}}
                    </div>
                </div>
            </div>
            <div class="form-group form-group-sm col-md-12" ng-if="i18nData.district == 'Project'" ng-class="{ 'has-error': 0 == i18nData.workspaceId || 0 == i18nData.projectId}">
                <label for="project">Project</label>
                <div ng-if="mode=='Add' && !isParamProjectId()" angucomplete-alt
                     id="project"
                     placeholder="Enter a Project name"
                     pause="100"
                     selected-object="selectProject"
                     selected-object-data="i18nData"
                     remote-url-request-formatter="searchProjectParams"
                     remote-url="{{contextPath}}/services/data/search/fbs.project-GetProject.json"
                     title-field="name"
                     search-field="name"
                     field-required="true"
                     initial-value="i18nData.projectName"
                     minlength="2"
                     input-class="form-control form-control-small"
                     name="" required>{{ i18nData.projectName || '' }}
                </div>
                <div ng-if="mode=='Modify' || isParamProjectId()">
                    <div class="form-control text-dark" style="background-color: #c0c0c0;">
                        {{i18nData.projectName}}
                    </div>
                </div>
            </div>
            <div class="form-group form-group-sm col-md-12" ng-class="{ 'has-error': i18nForm.lang.$invalid }">
                <label for="lang">Language</label>
                <input type="text" ng-model="i18nData.lang" class="form-control" name="lang" id="lang" placeholder="Language such as en, ko, es" required autofocus>
            </div>
        </form>
    </div>
    <div class="bf-modal-footer">
        <button type="button" class="p-button p-component p-button-secondary p-button-text-only" ng-click="cancel()"><span class="p-button-text p-c">Cancel</span></button>
        <button type="button" class="p-button p-component p-button-text-only" ng-click="ok()" ng-disabled="i18nForm.$invalid"><span class="p-button-text p-c">{{mode == 'Add' ? 'Add' : 'Update'}}</span></button>
    </div>
</div>
