<div id="copyright" class="text-center">
    <a href="http://www.bizflow.com" target="_blank">
        <span class="copyright-message">&copy; 2019-2021 BizFlow. All Rights Reserved.</span>
    </a>
</div>
<script>
    if (window.frameElement) {
        document.getElementById("copyright").style.display = "none";
    }
</script>
