<div id="copyright" class="row" style="overflow: hidden;margin: 0;">
    <div class="col-md-3">
    </div>
    <div class="col-md-6 text-center">
        <a href="http://www.bizflow.com" target="_blank">
            <span class="copyright-message">&copy; 2019-2021 BizFlow. All Rights Reserved.</span>
        </a>
    </div>
    <div class="col-md-3 text-right">
        <script>
            (function (window, document) {
                var loc = location;
                var offset = loc.href.indexOf(loc.host) + loc.host.length;
                var idx = loc.href.indexOf('/', offset + 1);
                if (-1 == idx) idx = loc.href.length;
                var contextPath = loc.href.substring(offset, idx);
                document.write('<img src="' + contextPath + '/includes/images/powered-by-BIZFLOW/powered-by-BIZFLOW-xs-06.png">');
            })(window, document);
        </script>
    </div>
</div>
<script>
    if (window.frameElement) {
        document.getElementById("copyright").style.display = "none";
    }
</script>
